[#escape x as (x)!?html]
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${info.title}</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="webkit" name="renderer" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/a_css/common.css">
    <link rel="stylesheet" href="_files/a_css/detail.css">
    <script src="_files/a_js/jquery-1.9.1.min.js"></script>
	<script src="_files/a_js/common.js"></script>
    <script type="text/javascript" src="_files/ckplayer/ckplayer.js"></script>
    [#if shouldBuy??]
    	<!-- 需购买 -->
		<script type="text/javascript">
		function loadedHandler(){
	        CKobject.getObjectById('ckplayer_video').addListener('time','seekHandler');
	    }
	    function seekHandler(t) {
	    	// CKobject._K_('nowTime').innerHTML='当前播放的时间点是(此值精确到小数点后三位，即毫秒)：'+t;
	    	if(t > ${course.customs['tryLimit']}) {
	    		CKobject.getObjectById('ckplayer_video').videoPause();
	    		alert('请付费');
	    	}
	    }
	</script>
	[/#if]
</head>
<body>
    <!--通用顶部 start-->
    [#assign speicalsPage]exist[/#assign]
    [#include 'a_head.html'/]
    <!--通用顶部 end-->
    <div class="wrap page_video_detail">
        <div class="post_head">
            <h1>课时${info.priority}:${info.title} 
            	<a href="${ctx}/special/${Param.specialId}.jspx">返回课程主页</a>
     		</h1>
            <div class="info">
            [@Info id = course.customs['teacherID'];teacher]
            	讲师：${teacher.title}
            [/@Info]
                        
            </div>
        </div>
        <div class="ct clearfix">
            <div class="js-plyr">
                <div id="video"></div>
				<div id="nowTime"></div>
            </div>
            <div class="sidebar">
               <div class="clss">
                   <div class="com_tit long">
                       <h2>课时列表</h2>
                   </div>
                   <ul class="clss_list">
<!--                        <li class="current"><a href="#"></a></li> -->
                       [@InfoPage specialId=Param.specialId pageSize='100';pagedList]
                       [#list pagedList.content as info]
                       <li><a href="${info.url}?specialId=${Param.specialId}">课时${info.priority}：  ◇${info.title}</a></li>
                       [/#list]
                       [/@InfoPage]
                    </ul>
               </div>
               <!-- 免费课程不展示购买按钮 -->
               [#if (course.customs['price']?number > 0) && shouldBuy??]
               <a href="${ctx}/miniPay/pay_index.jspx?courseId=${Param.specialId}" class="buy_btn">立即购买该课程</a>
               [/#if]
            </div>
        </div>
		<!-- 相关课程 -->
        [#include 'a_inc_relate_courses.html'/]
    </div>

    <!--通用底部start-->
    [#include 'a_end.html'/]
    <!--通用底部end-->


    <!--侧边滑动通用start-->
    [#include 'a_side.html'/]
    <!--侧边滑动通用end-->
    <script type="text/javascript">
    	var flashvars={
			f:"${info.video}",
			c:0,
			p:0,
			loaded:'loadedHandler'
		};
		var player = CKobject.embedSWF("_files/ckplayer/ckplayer.swf","video","ckplayer_video","880","580",flashvars);
    </script>
</body>
</html>
[/#escape]