[#escape x as (x)!?html]
   <!--通用底部start-->
    <div class="footer">
        <div class="wrap">
            <div class="links">
                <b>友情链接：</b>
                <div class="link_list">
                    <a href="">雅芳中国</a>
                    <a href="">百雀羚</a>
                    <a href="">自然堂</a>
                    <a href="">巴黎欧莱雅</a>
                    <a href="">谷歌</a>
                    <a href="">百度</a>
                    <a href="">FACEBOOK</a>
                    <a href="">腾讯</a>
                    <a href="">窃美记</a>
                    <a href="">滴滴打车</a>
                    <a href="">美图秀秀</a>
                    <a href="">新浪中国</a>
                </div>
            </div>

            <div class="foot_bt clearfix">
                <div class="bl">
                    <img src="_files/a_css/img/logo.png" alt="" class="logo">
                    <div class="bl_main">
                        <p>
                            <a href="#">关于大康</a>
                            <a href="#">联系我们</a>
                            <a href="#">帮助中心</a>
                        </p>
                        <p>陕ICP备12003221号 Copyright 陕西大康心理咨询与心理治疗培训学校</p>
                    </div>
                </div>
                <div class="br">
                    <div class="social">
                        <a href="#" class="icon-weibo"></a>
                        <a href="#" class="icon-wx"></a>
                        <a href="#" class="icon-douban"></a>
                    </div>
                    <div class="connects">
                        <b><i class="icon-phone"></i>报名电话</b>
                        <p>西 安 学 校：029-85264680</p>
                        <p>广 东 学 校：020-89040932</p>
                        <p>领袖心理课：029-89399618</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--通用底部end-->    
[/#escape]