[#escape x as (x)!?html]
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>大康</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="webkit" name="renderer" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/a_css/common.css">
    <link rel="stylesheet" href="_files/a_css/ucenter.css">
</head>
<body>

    <!--通用顶部 start-->
	[#include 'a_head.html'/]
    <!--通用顶部 end-->


    <div class="wrap help_center">

        <div class="col">
            <div class="com_tit long">
                <h2>如何学习课程</h2>
            </div>
            <div class="wd">
                <p>我们的网络课程有免费的，也有付费的。</p>
                <p>1. 对于付费的网络课程，您可先登录账号，进入选课界面，选择自己想要学习的课程，点击“购买”按钮，进入支付界面，确认订单并支付成功后，即可在“学习中心”点击“我的课程”，选择“购买的”课程开始学习。</p>
                <p>2. 对于免费的网络课程，您可先登录账号，进入选课界面，选择自己想要学习的课程，点击“收藏”按钮后，进入“学习中心”，点击“我的课程”，选择“收藏的”课程开始学习；或登录后直接进入选课界面，选择免费的在线课程进行观看。</p>
                <p>3. 如果您还没有账号，建议您可以使用手机号码或邮箱先进行注册，注册成功后即可登录至网校学习相关视频课程。</p>
            </div>

            <div class="com_tit long">
                <h2>如何找回用户名和密码</h2>
            </div>
            <div class="wd">
                <p>在学习过程中，如果您的用户名和密码不慎忘记或丢失，您可点击登录框页面的“忘记密码”，通过输入您注册时使用的手机号码或电子邮箱进行验证后，重新设定新的密码。</p>
            </div>

            <div class="com_tit long">
                <h2>视频问题</h2>
            </div>
            <div class="wd">
                <p>为了保障课程可以顺利播放， 请先确保您已成功安装 Flash Player最新插件, 同时建议您使用360、IE等常用浏览器，并保持网络畅通，建议您在学习期间不要同时观看其它视频。如果上述方法无法解决问题，请通过网校右侧边栏的“在线客服”，联系在线客服帮助处理。</p>
            </div>

            <div class="com_tit long">
                <h2>开取发票</h2>
            </div>
            <div class="wd">
                <p>发票的索取是根据您的缴费方式来决定的：</p>
                <p>1. 如果您是在学校报名点进行缴费的，报名之后请及时告知我们要开具发票的名称，确定好之后我们月底发票开好统一发放，请您及时现场领取。</p>
                <p>2. 如果您是购买网络视频课程并以支付宝等方式进行缴费的，或外地学员不能现场来领取发票的，特殊情况邮寄发票需要您本人写证明，具体情况您可致电学校咨询电话，待我们确认您的付款后，我们会把发票快递给您！</p>
                <p>3. 对于在规定时间内由于您个人原因未及时领取发票致无法正常报销，之后我们不负任何责任。</p>
            </div>

            <div class="com_tit long">
                <h2>退款须知</h2>
            </div>
            <div class="wd">
                <p>我们的网络视频课程制度是终身循环听课，因视频课程产品类型的特殊性，一经购买，恕不能退费，敬请广大学员谅解！</p>
            </div>
        </div>



    </div>

    <!--通用底部start-->
    [#include 'a_end.html'/]
    <!--通用底部end-->


    <!--侧边滑动通用start-->
	[#include 'a_side.html'/]
    <!--侧边滑动通用end-->
</body>
<script src="_files/a_js/jquery-1.9.1.min.js"></script>

<script src="_files/a_js/common.js"></script>
<script>

</script>
</html>
[/#escape]