[#escape x as (x)!?html]
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>大康</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="webkit" name="renderer" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/a_css/common.css">
    <link rel="stylesheet" href="_files/a_css/index.css">
</head>
<body>
    <div class="top_bar">
        <div class="dark_bar">
            <div class="wrap clearfix">
                <div class="citys">
                    城市:
                    <a href="#" class="active">西安</a>
                    <a href="#">广州</a>
                </div>
                <div class="opr">
                    <div class="search_box">
                        <form action="">
                            <button type="submit" class="icon-search"></button>
                            <span class="ipt"><input type="text" placeholder="输入搜索内容"></span>
                        </form>
                    </div>
                    <a href="javascript:;" class="down_app">
                        <span class="icon-app"></span>
                        手机学习

                        <span class="qrcode">
                            <img src="_files/a_upload/side_qrcode4.png" alt="">

                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="banner"></div>
    </div>
    <!--通用顶部 start-->
   [#include 'a_head.html'/]
    <!--通用顶部 end-->

    <div class="col">
        <div class="wrap clearfix">
            <div class="main jp">
                <div class="com_tit">
                    <h2><a href="#">精品课程</a></h2>
                </div>
                <div class="class_list clearfix">
                    <div class="box">
                        <a href="#"><img src="_files/a_upload/class.jpg" alt=""></a><!--270x155-->
                        <b><a href="#">视频剪辑及延时摄影快速入门</a></b>
                        <span>230人已购买</span>
                        <a href="#" class="btn">￥199</a>
                    </div>
                    <div class="box">
                        <a href="#"><img src="_files/a_upload/class.jpg" alt=""></a><!--270x155-->
                        <b><a href="#">视频剪辑及延时摄影快速入门</a></b>
                        <span>230人已购买</span>
                        <a href="#" class="btn">￥199</a>
                    </div>
                    <div class="box">
                        <a href="#"><img src="_files/a_upload/class.jpg" alt=""></a><!--270x155-->
                        <b><a href="#">视频剪辑及延时摄影快速入门</a></b>
                        <span>230人已购买</span>
                        <a href="#" class="btn">￥199</a>
                    </div>
                    <div class="box">
                        <a href="#"><img src="_files/a_upload/class.jpg" alt=""></a><!--270x155-->
                        <b><a href="#">视频剪辑及延时摄影快速入门</a></b>
                        <span>230人已购买</span>
                        <a href="#" class="btn">￥199</a>
                    </div>
                    <div class="box">
                        <a href="#"><img src="_files/a_upload/class.jpg" alt=""></a><!--270x155-->
                        <b><a href="#">视频剪辑及延时摄影快速入门</a></b>
                        <span>230人已购买</span>
                        <a href="#" class="btn">￥199</a>
                    </div>
                    <div class="box">
                        <a href="#"><img src="_files/a_upload/class.jpg" alt=""></a><!--270x155-->
                        <b><a href="#">视频剪辑及延时摄影快速入门</a></b>
                        <span>230人已购买</span>
                        <a href="#" class="btn">￥199</a>
                    </div>
                </div>

            </div>
            <div class="sidebar zx">
                <div class="com_tit">
                    <h2><a href="#">最新课表</a></h2>
                </div>
                <div class="timetable">
                    <img src="_files/a_upload/timetable.jpg" alt="">
                </div>
            </div>
        </div>
    </div>


    <div class="col hot_col">
        <div class="wrap clearfix">
            <div class="com_tit long">
                <h2><a href="#">热门课程</a></h2>
            </div>
            <div class="filter clearfix">
               [@SpecialCategoryList;list]
				[#list list as sc]
                <a href="${ctx}/specials/${sc.id}.jspx">${sc.name}</a>
                [/#list]
                [/@SpecialCategoryList]
            </div>
            <div class="sidebar">

                <div class="box">
                    <a href="#"><img src="_files/a_upload/class2.jpg" alt=""></a><!--270x155-->
                    <b><a href="#">视频剪辑及延时摄影快速入门</a></b>
                    <span>230人已购买</span>
                    <a href="#" class="btn">￥199</a>
                </div>
            </div>
            <div class="main">

                <div class="class_list clearfix">
                    <div class="box">
                        <a href="#"><img src="_files/a_upload/class.jpg" alt=""></a><!--270x155-->
                        <b><a href="#">视频剪辑及延时摄影快速入门</a></b>
                        <span>230人已购买</span>
                        <a href="#" class="btn">￥199</a>
                    </div>
                    <div class="box">
                        <a href="#"><img src="_files/a_upload/class.jpg" alt=""></a><!--270x155-->
                        <b><a href="#">视频剪辑及延时摄影快速入门</a></b>
                        <span>230人已购买</span>
                        <a href="#" class="btn">￥199</a>
                    </div>
                    <div class="box">
                        <a href="#"><img src="_files/a_upload/class.jpg" alt=""></a><!--270x155-->
                        <b><a href="#">视频剪辑及延时摄影快速入门</a></b>
                        <span>230人已购买</span>
                        <a href="#" class="btn">￥199</a>
                    </div>
                    <div class="box">
                        <a href="#"><img src="_files/a_upload/class.jpg" alt=""></a><!--270x155-->
                        <b><a href="#">视频剪辑及延时摄影快速入门</a></b>
                        <span>230人已购买</span>
                        <a href="#" class="btn">￥199</a>
                    </div>
                    <div class="box">
                        <a href="#"><img src="_files/a_upload/class.jpg" alt=""></a><!--270x155-->
                        <b><a href="#">视频剪辑及延时摄影快速入门</a></b>
                        <span>230人已购买</span>
                        <a href="#" class="btn">￥199</a>
                    </div>
                    <div class="box">
                        <a href="#"><img src="_files/a_upload/class.jpg" alt=""></a><!--270x155-->
                        <b><a href="#">视频剪辑及延时摄影快速入门</a></b>
                        <span>230人已购买</span>
                        <a href="#" class="btn">￥199</a>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="col bottom_col">
        <div class="wrap clearfix">
            <div class="pic">
                <a href="#" target="_blank">
                    <img src="_files/a_upload/460x362.jpg" alt=""><!--460x362-->
                    <b>后期无忧——零基础PS一课通</b>
                </a>
            </div>
            <div class="list">
            	[@Node number = 'file'; node]
                <div class="com_tit long">
                    <h2><a href="${node.url}">${node.title}</a></h2>
                    
                </div>
                <ul>
                	[@InfoList nodeId=node.id limit='9';list]
                	[#list list as info]
                    <li>
                        <a href="${info.url}">${info.title}</a>
                    </li>
                    [/#list]
                    [/@InfoList]
                </ul>
			[/@Node]
            </div>

            <div class="list">
            	[@Node number = 'topic'; node]
                <div class="com_tit long">
                    <h2><a href="#">题库</a></h2>
                </div>
                <ul>
                	[@InfoList nodeId=node.id limit='9';list]
                	[#list list as info]
                    <li>
                        <a href="${info.url}">${info.title}</a>
                    </li>
                    [/#list]
                    [/@InfoList]
                </ul>
				[/@Node]
            </div>
        </div>
    </div>


    <!--通用底部start-->
    [#include 'a_end.html'/]
    <!--通用底部end-->

    <!--侧边滑动通用start-->
    [#include 'a_side.html'/]
    <!--侧边滑动通用end-->
</body>
<script src="_files/a_js/jquery-1.9.1.min.js"></script>

<script src="_files/a_js/common.js"></script>
<script>

</script>
</html>
[/#escape]