[#escape x as (x)!?html]
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${info.title}</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="webkit" name="renderer" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/a_css/common.css">
    <link rel="stylesheet" href="_files/a_css/detail.css">
    <script src="_files/a_js/jquery-1.9.1.min.js"></script>
	<script src="_files/a_js/pdfobject.min.js"></script>
	<script src="_files/a_js/common.js"></script>
	<script type="text/javascript">
	function favorite(type){
		var action = "${ctx}/addFavorite.jspx";
			$.post(action, {"objectId" : "${info.id}", "type" : type}, function(data) {
				var d = $.parseJSON(data);
				if (d !== true) {
					alert('请先登录');
					location.href="${ctx}/login.jspx";
				} else {
					alert('收藏成功');
				} 
			});
	}	
	</script>
</head>
<body>

    <!--通用顶部 start-->
	[#include 'a_head.html'/]
    <!--通用顶部 end-->
    <div class="wrap page_database_detail">
        <div class="ct">
            <h1><span class="icon-pdf"></span>${info.title}
            </h1>
            <div class="intro">
                上传于  ${info.publishDate?string('yyyy-MM-dd')} ｜ <span id="info_views"></span>次阅读  ｜  ${info.downloads}次下载
            </div>
            <script type="text/javascript">
							$("#info_views").load("${dy}/info_views/${info.id}.jspx?d="+new Date()*1);
			</script>
            <div class="main" id="pdf">

            </div>
        </div>

        <div class="sidebar">
            <div class="share_box">
                <div class="share bdsharebuttonbox">
                    <span>分享至：</span>
                    <a class="bds_weixin icon-wx" data-cmd="weixin" title="分享到微信" href="#"></a>
                    <a class="bds_qzone icon-qqzone" data-cmd="qzone" title="分享到QQ空间" href="#"></a>
                    <a class="bds_douban icon-douban" data-cmd="douban" title="分享到豆瓣网" href="#"></a>
                    <a class="bds_tsina icon-weibo" data-cmd="tsina" title="分享到新浪微博" href="#"></a>
                </div>
            </div>

            <a href="javascript:;" class="btn save" onclick = "return favorite('${nodeNumber}')">收藏</a>
            <a href="${ctx}/download.jspx?infoId=${info.id}" class="btn download" target="_blank">下载</a>

            <div class="database_hot_list">
                <div class="com_tit long">
                    <h2>热门题库</h2>
                </div>
                <ul>
                    [@Node number='train';node]
                    [@InfoList nodeId=node.id  limit='5';list]
					[#list list as info]
                    <li>
                        <a href="${info.url}">
                            <span>&gt;</span>${info.title}
                        </a>
                    </li>
                    [/#list]
                    [/@InfoList]
                    [/@Node]
                    
                </ul>
            </div>
        </div>
    </div>



    <!--通用底部start-->
    [#include 'a_end.html'/]
    <!--通用底部end-->


    <!--侧边滑动通用start-->
    [#include 'a_side.html'/]
    <!--侧边滑动通用end-->
</body>

<script>
    /*PDF插件,文档地址:https://pdfobject.com/*/
    PDFObject.embed('${info.customs["files"]}', "#pdf");
    /*分享*/
    var share_tit=$("h1").eq(0).text(),
            share_desc='',
            share_pic='';
    window._bd_share_config = {
        common : {
            bdText : share_tit,
            bdDesc : share_desc,
            bdPic : share_pic
        },
        share : [{
            "bdSize" : 16
        }]
    }
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];

</script>
</html>
[/#escape]