[#escape x as (x)!?html]
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${category.name}</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="webkit" name="renderer" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/a_css/common.css">
    <link rel="stylesheet" href="_files/a_css/detail.css">
    <script src="_files/a_js/jquery-1.9.1.min.js"></script>
	<script src="_files/a_js/common.js"></script>
	<script type="text/javascript">
		function submitComment() {
			var text = $("#commentText").val();
			if(text.length < 5) {
				alert("请认真评论！");
				return false;
			}
			$("#commentForm").submit();
		}
		
		function showDiv(div) {
			// hidden all
			$('#c_intro').css("display","none");
			$('#c_comment').css("display","none");
			$('#c_schedule').css("display","none");
			
			$('#tit_intro').removeClass("current");
			$('#tit_comment').removeClass("current");
			$('#tit_schedule').removeClass("current");
			// show div
			$('#c_' + div).css("display","block");
			$('#tit_' + div).addClass('current');
		}

		function favorite(){
			var action = "${ctx}/addFavorite.jspx";
			$.post(action, {"objectId" : "${special.id}", "type" : "onlineCourse"}, function(data) {
				var d = $.parseJSON(data);
				if (d !== true) {
					alert('请先登录');
					location.href="${ctx}/login.jspx";
				} else {
					alert('收藏成功');
				} 
			});
		}
	</script>
</head>
<body>
    <!--通用顶部 start-->
	[#assign speicalsPage]exist[/#assign]
    [#include 'a_head.html'/]
    <!--通用顶部 end-->
    <div class="page_online_detail">
        <div class="page_head">
            <div class="wrap ">
                <img src="${special.largeImage}" alt=""><!--524x288-->
                <div class="main">
                    <h1>${special.title}</h1>
                    <div id="starGroup" class="score">
                        <span class="icon-star active"></span>
                        <span class="icon-star active"></span>
                        <span class="icon-star active"></span>
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                        <span id="score" class="star_num"></span>
                        <span class="comment_num">(${special.comments!0}人评论)</span>
                    </div>
                    <ul class="info clearfix">
                        <li>销售量：${special.soldCount!0}</li>
                        <li>课时：${special.refers}</li>
                        <li>浏览次数：${special.views}</li>
                        <li>
                        	[@Info id = special.customs['teacherID'];info]
                        	讲师：<a href="${info.url}">${info.title}</a>
                        	[/@Info]
                        </li>
                    </ul>
                    <div class="btns">
						[#if (special.customs['price']?number > 0)]
						[#assign tips = '立即试听']
                        <a href="${ctx}/miniPay/pay_index.jspx?courseId=${special.id}" class="btn btn_buy"><b>￥${special.customs['price']}</b><span>购买该课程</span></a>
                        [#else]
						[#assign tips = '观看']
                        [/#if]
                        
                        <a href="#" class="btn" onclick = "return favorite()">收藏</a>
                        <!-- 从第一条开始播放 -->
                       [@InfoPage specialId=special.id pageSize='1';pagedList]
                         [#list pagedList.content as info]
                        <a href="${info.url}?specialId=${special.id}" class="btn">${tips}</a>
                         [/#list]
                        [/@InfoPage]
                    </div>

                    <div class="share_box">
                        <div class="share bdsharebuttonbox">
                            <span>分享至：</span>
                            <a class="bds_weixin icon-wx" data-cmd="weixin" title="分享到微信" href="#"></a>
                            <a class="bds_qzone icon-qqzone" data-cmd="qzone" title="分享到QQ空间" href="#"></a>
                            <a class="bds_douban icon-douban" data-cmd="douban" title="分享到豆瓣网" href="#"></a>
                            <a class="bds_tsina icon-weibo" data-cmd="tsina" title="分享到新浪微博" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrap ct clearfix">
            <div class="main">
                <div class="nav clearfix">
                    <a href="#" id="tit_intro" class="current" onclick="showDiv('intro')">课程介绍</a>
                    <a href="#" id="tit_schedule" onclick="showDiv('schedule')">课时列表 (${special.refers})</a>
                    <a href="#" id="tit_comment" onclick="showDiv('comment')">课程评价</a>
                </div>
                <div class="content">
                    <!-- 课程介绍 -->
                    <div id="c_intro" class="post_main">
                    [#noescape] ${special.clobs['courseDesc']}[/#noescape]
                    </div>
                    
                    <!-- 课时列表 -->
                    <div id="c_schedule" class="schedule" style="display:none">
                        <table>
                            <tbody>
                            	[@InfoPage specialId=special.id pageSize='100';pagedList]
                            	[#list pagedList.content as info]
                                <tr>
                                    <td class="c_name">课时${info.priority}：  ◇${info.title}</td>
                                    <td class="c_time">${info.customs['courseTime']}</td>
                                    <td class="c_btn"><a href="${info.url}?specialId=${special.id}">立即试看</a></td>
                                </tr>
                                [/#list]
                                [/@InfoPage]
                            </tbody>
                        </table>
                    </div>
                    
                    <!-- 课程评价 -->
                    <div id="c_comment" class="comment" style="display:none">
                        <div class="in">
                        	<form id="commentForm" action="${ctx}/special_scoring.jspx" method="post">
                        		<input type="hidden" name="courseId" value="${special.id}"/>
                        		<!-- 默认5星 -->
                        		<input type="hidden" id="itemId" name="itemId" value="13"/>
                        		<input type="hidden" name="redirectUrl" value="${url}"/>
                            <div class="in_box">
                                <textarea name="text" id="commentText"></textarea>
                            </div>
                            <div class="in_ft">
                                <div class="set_score">
                                    <b>评分:</b>
                                    <div class="stars">
                                    [@ScoreGroup number='star';group]
                                        [#list group.items as item]
                                        <span class="icon-star" onclick="changeScoreItemId(${item.id})"></span>
                                        <input type="hidden" value="${item.score!}" id="item-score-${item.id}"/>
                                        [/#list]
                                    [/@ScoreGroup]
                                    </div>
                                    <input type="hidden" value="4" id="grade_val">
                                </div>
                                <a href="#" class="sub_comment" onclick="return submitComment()">发表评论</a>
                            </div>
							</form>
                        </div>
                        <div class="list">
                        [@CommentList fid=special.id sort='score desc,creationDate desc' limit=10;list]
						[#if list?size > 0]
							[#list list as comment]
                            <div class="item">
                                <img src="${comment.creator.avatarSmall}" alt="">
                                <b>[#if comment.creator.id==0]匿名学员[#else]${comment.creator.username}[/#if]</b>
                                <div class="stars">
                                    <span id="user_star_${comment.creator.id}_1" class="icon-star"></span>
                                    <span id="user_star_${comment.creator.id}_2" class="icon-star"></span>
                                    <span id="user_star_${comment.creator.id}_3" class="icon-star"></span>
                                    <span id="user_star_${comment.creator.id}_4" class="icon-star"></span>
                                    <span id="user_star_${comment.creator.id}_5" class="icon-star"></span>
                                </div>
                                <script type="text/javascript">
                                	function showStar(uid) {
                                		var max = ${comment.score};
                                		for(var i=1; i<= ${comment.score}; i++) {
                                			var itemCode = ${comment.creator.id} + '_' + i;
                                			$("#user_star_" + itemCode).addClass("active");
                                		}
                                	}
                                	showStar(${comment.creator.id});
                                </script>
                                <div class="con">
                                    <p>${bbcode(comment.text)}</p>
                                </div>
                            </div>
                        	[/#list]
						[/#if]
						[/@CommentList]
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="sidebar">
                <div class="com_tit long">
                    <h2>课程教师</h2>
                </div>
                <div class="teacher_summary">
                    [@Info id = special.customs['teacherID'];info]
                    <div class="hd">
                        <a href="${info.url}">
                        <img src="${info.customs['teacherPhoto']}" alt="">
                        <b>${info.title}</b>
                        </a>
                    </div>
                    <p>[#noescape]${info.customs['informationSummary']}[/#noescape]</p>
                    [/@Info]
                </div>
            </div>

            <!-- 相关课程 -->
        	[#include 'a_inc_relate_courses.html'/]
        </div>
    </div>

    <!--通用底部start-->
    [#include 'a_end.html'/]
    <!--通用底部end-->


    <!--侧边滑动通用start-->
    [#include 'a_side.html'/]
    <!--侧边滑动通用end-->
</body>
<script type="text/javascript">
	function changeScoreItemId(itemId) {
		$("#itemId").val(itemId);
	}
			function getScore() {
				$.get("${dy}/special_score/${special.id}.jspx?d="+new Date()*1,function(data) {
					var tickets=0,score=0,totalScore=0;	
					for(var id in data) {
						if($("#item-score-"+id).length>0){
							tickets+=data[id];
							totalScore += parseInt($("#item-score-"+id).val())*data[id];
						}
					}
					if(tickets!=0){
						score=Math.round(totalScore/tickets*10)/10;
					}
					var $starGroup=$("#starGroup > span");
					for(var i=0;i<5;i++) {
						if(score>i){
							$starGroup.eq(i).addClass("active");
						} else {
							$starGroup.eq(i).removeClass("active");							
						}
					}
					if(score!=0) {
						$("#score").text(score.toFixed(1))
					}
				},"json");				
			}
			$(function(){
				getScore();
			});
</script>
<script>
    /*分享*/
    var share_tit=$("h1").eq(0).text(),
            share_desc='',
            share_pic='';
    window._bd_share_config = {
        common : {
            bdText : share_tit,
            bdDesc : share_desc,
            bdPic : share_pic
        },
        share : [{
            "bdSize" : 16
        }]
    }
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
</script>
</html>
[/#escape]