[#escape x as (x)!?html]
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网络课程_${node.name}_${site.name},最权威的心理服务和培训机构</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="webkit" name="renderer" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/a_css/common.css">
    <link rel="stylesheet" href="_files/a_css/class_list.css">
</head>
<body>
    <!--通用顶部 start-->

    [#include 'a_head.html'/]
    <!--通用顶部 end-->
    <div class="online_class">
        <div class="wrap">
            <div class="filter clearfix">
                <a href="${ctx}/specials.jspx" class="current">全部课程</a>
            	<!-- 课程的类别 --> 
                [@SpecialCategoryList;list]
				[#list list as sc]
                <a href="${ctx}/specials/${sc.id}.jspx">${sc.name}</a>
                [/#list]
                [/@SpecialCategoryList]
            
            </div>
            <div class="sort">
            	[@Node number = 'onlineCourse';node]
                <a href="${node.url}" class="current">综合排序</a>
                <a href="${node.url}">最新</a>
                <a href="#">价格排序</a>
                [/@Node]
            </div>
            
            <div class="list clearfix">
 				[@SpecialList  limit='8';list]
				[#list list as course]               
                <div class="box">
                    <a href="${ctx}/special/${course.id}.jspx">
                        <img src="_files/a_upload/class.jpg" alt="">
                        <!--尺寸必须是270x155-->
						<!-- <img src="${course.smallImage}" alt="">270x155 -->
                        <b>${course.title}</b>
                        <div class="info">
                            <span class="count">230人已购买</span>
                            <span class="cat">${course.metaKeywords}</span>
                        </div>
                        [#if (course.customs['price']?number > 0)]
                        <span class="price">${course.customs['price']}</span>
                        <span class="try">试听</span>
                        [#else]
                        <span class="price">免费</span>
                        [/#if]
                    </a>
                </div>
                [/#list]
                [/@SpecialList]
            </div>
			
			
            <a href="javascript:;" class="more">点击查看更多</a>
        </div>
    </div>



    <!--通用底部start-->
    [#include 'a_end.html'/]
    <!--通用底部end-->


    <!--侧边滑动通用start-->
    [#include 'a_side.html'/]
    <!--侧边滑动通用end-->
</body>
<script src="_files/a_js/jquery-1.9.1.min.js"></script>

<script src="_files/a_js/common.js"></script>
<script>

</script>
</html>
[/#escape]