[#escape x as (x)!?html]
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${node.name}</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="webkit" name="renderer" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/a_css/common.css">
    <link rel="stylesheet" href="_files/a_css/class_list.css">
</head>
<body>
    <!--通用顶部 start-->

    [#include 'a_head.html'/]
    <!--通用顶部 end-->
    <div class="databases">
        <div class="wrap">
            <div class="filter clearfix">
            	[@Node number = 'questions'; node]
                <a href="${node.url}" class="current">全部</a>
                	[@NodeList parentId=node.id;list]
					[#list list as n]
                		<a href="${n.url}">${n.name}</a>
                	[/#list]
               		 [/@NodeList]
                [/@Node]
                
            </div>

            <div class="main">
                <div class="database_list">
                    <ul class="clearfix">
                       [@InfoList nodeId=node.id isIncludeChildren='true' limit='16';list]
						[#list list as info] 
                        <li>
                            <a href="${info.url}">
                                <img src="${info.smallImage}" alt="">
                                <div class="ft">
                                    <b>${info.title	}</b>
                                    <span><i class="icon-view"></i><strong>666</strong>人查阅</span>
                                </div>
                            </a>
                        </li>
                  		[/#list]
                  		[/@InfoList]
                    </ul>
                    <a href="#" class="more">点击查看更多</a>
                </div>
              
              
                <div class="sidebar">
                    <div class="com_tit long">
                        <h2>精品课程</h2>
                    </div>
                    <div class="list">
                        [@SpecialList  limit='4';list]
						[#list list as course]
                        <div class="box">
                            <a href="${ctx}/special/${course.id}.jspx">
                                <img src="${course.smallImage}" alt=""><!--270x155-->
                                <b>${course.title}</b>
                                <div class="info">
                                    <span class="count">230人已购买</span>
                                    <span class="cat">${course.category}</span>
                                </div>
                                <span class="price">￥${course.customs['price']}</span>
                                <span class="try">试听</span>
                            </a>
                        </div>
                         [/#list]
               			 [/@SpecialList]
                        
                    </div>
                </div>
            </div>

        </div>
    </div>



    <!--通用底部start-->
    [#include 'a_end.html'/]
    <!--通用底部end-->


    <!--侧边滑动通用start-->
    [#include 'a_side.html'/]
    <!--侧边滑动通用end-->
</body>
<script src="_files/a_js/jquery-1.9.1.min.js"></script>

<script src="_files/a_js/common.js"></script>
<script>

</script>
</html>
[/#escape]