[#escape x as (x)!?html]
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${node.name}_${site.name}_大康心理，最权威的心理服务和培训机构</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="webkit" name="renderer" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/a_css/common.css">
    <link rel="stylesheet" href="_files/a_css/class_list.css">
</head>
<body>
    <!--通用顶部 start-->

    [#include 'a_head.html'/]
    <!--通用顶部 end-->
    <div class="online_class">
        <div class="wrap">
            <div class="filter clearfix">
                <a href="#" class="current">全部课程</a>
                <a href="#">认证考试</a>
                <a href="#">个人成长</a>
            </div>
            <div class="sort">
                <a href="#" class="current">综合排序</a>
                <a href="#">最新</a>
                <a href="#">价格排序</a>
            </div>

            <div class="list clearfix">
                <div class="box">
                    <a href="#">
                        <img src="upload/class.jpg" alt=""><!--270x155-->
                        <b>视频剪辑及延时摄影快速入门</b>
                        <div class="info">
                            <span class="count">230人已购买</span>
                            <span class="cat">情感</span>
                        </div>
                        <span class="price">￥390</span>
                        <span class="try">试听</span>
                    </a>
                </div>

                <div class="box">
                    <a href="#">
                        <img src="upload/class.jpg" alt=""><!--270x155-->
                        <b>视频剪辑及延时摄影快速入门</b>
                        <div class="info">
                            <span class="count">230人已购买</span>
                            <span class="cat">情感</span>
                        </div>
                        <span class="price">免费</span>
                    </a>
                </div>

                <div class="box">
                    <a href="#">
                        <img src="upload/class.jpg" alt=""><!--270x155-->
                        <b>视频剪辑及延时摄影快速入门</b>
                        <div class="info">
                            <span class="count">230人已购买</span>
                            <span class="cat">情感</span>
                        </div>
                        <span class="price">￥390</span>
                        <span class="try">试听</span>
                    </a>
                </div>

                <div class="box">
                    <a href="#">
                        <img src="upload/class.jpg" alt=""><!--270x155-->
                        <b>视频剪辑及延时摄影快速入门</b>
                        <div class="info">
                            <span class="count">230人已购买</span>
                            <span class="cat">情感</span>
                        </div>
                        <span class="price">免费</span>
                    </a>
                </div>

                <div class="box">
                    <a href="#">
                        <img src="upload/class.jpg" alt=""><!--270x155-->
                        <b>视频剪辑及延时摄影快速入门</b>
                        <div class="info">
                            <span class="count">230人已购买</span>
                            <span class="cat">情感</span>
                        </div>
                        <span class="price">￥390</span>
                        <span class="try">试听</span>
                    </a>
                </div>

                <div class="box">
                    <a href="#">
                        <img src="upload/class.jpg" alt=""><!--270x155-->
                        <b>视频剪辑及延时摄影快速入门</b>
                        <div class="info">
                            <span class="count">230人已购买</span>
                            <span class="cat">情感</span>
                        </div>
                        <span class="price">免费</span>
                    </a>
                </div>

                <div class="box">
                    <a href="#">
                        <img src="upload/class.jpg" alt=""><!--270x155-->
                        <b>视频剪辑及延时摄影快速入门</b>
                        <div class="info">
                            <span class="count">230人已购买</span>
                            <span class="cat">情感</span>
                        </div>
                        <span class="price">￥390</span>
                        <span class="try">试听</span>
                    </a>
                </div>

                <div class="box">
                    <a href="#">
                        <img src="upload/class.jpg" alt=""><!--270x155-->
                        <b>视频剪辑及延时摄影快速入门</b>
                        <div class="info">
                            <span class="count">230人已购买</span>
                            <span class="cat">情感</span>
                        </div>
                        <span class="price">免费</span>
                    </a>
                </div>
            </div>

            <a href="javascript:;" class="more">点击查看更多</a>
        </div>
    </div>



    <!--通用底部start-->
    [#include 'a_end.html'/]
    <!--通用底部end-->


    <!--侧边滑动通用start-->
    [#include 'a_side.html'/]
    <!--侧边滑动通用end-->
</body>
<script src="_files/a_js/jquery-1.9.1.min.js"></script>

<script src="_files/a_js/common.js"></script>
<script>

</script>
</html>
[/#escape]