[#escape x as (x)!?html]
   <!--侧边滑动通用start-->
    <div class="side_fixed">
        <a href="#" class="online_service"></a>
        <div class="box">
            <a href="javascript:;">
                <span class="icon-qrcode"></span>
                <div class="pop clearfix">
                    <img src="_files/a_upload/side_qrcode1.png" alt="">
                    <img src="_files/a_upload/side_qrcode2.png" alt="">
                    <img src="_files/a_upload/side_qrcode3.png" alt="">
                </div>
            </a>
            <a href="javascript:;">
                <span class="icon-cellphone"></span>
                <div class="pop clearfix short">
                    <img src="_files/a_upload/side_qrcode4.png" alt="">
                </div>
            </a>
            <a href="javascript:;">
                <span class="icon-phone2"></span>
                <div class="pop phone_pop clearfix">
                    <p><span>西安学校：</span>029-85264680</p>
                    <p><span>广东学校：</span>020-89040932</p>
                    <p><span>领袖心理课：</span>029-89399618</p>
                </div>
            </a>
        </div>
    </div>
    <!--侧边滑动通用end-->
[/#escape]