[#escape x as (x)!?html]
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <title>大康</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/css/swiper.min.css">
    <link rel="stylesheet" href="_files/css/common.css">
    <style>
        html,body{height:100%;}
    </style>
    [#include 'common_head.html'/]
</head>
<body class="building_page">
    <div class="over"></div>
    <div class="tip">
        <a href="${ctx}/" class="logo">
            <img src="_files/css/img/logo.png" alt="">
        </a>
        <b>抱歉，此栏目正在建设中…</b>
        <p>再等等好吗？程序猿正在加班加点，只是想为你提供更好的体验感受。</p>
        <a href="${ctx}/" class="btn">返回首页</a>
    </div>
</body>
<script src="_files/js/jquery-1.9.1.min.js"></script>
<script src="_files/js/common.js"></script>
</html>
[/#escape]