[#escape x as (x)!?html]
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${site.fullNameOrName}</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/css/swiper.min.css">
    <link rel="stylesheet" href="_files/css/common.css">
    <link rel="stylesheet" href="_files/css/about.css">
</head>
<body>
    [#include 'head.html'/]
     <div class="wrap">
        <h1 class="com_tit">联系我们</h1>
        <div class="connect_list">
            <ul class="clearfix">
                <li>
                    <div class="box">
                        <b>陕西大康心理咨询与心理治疗培训学校</b>
                        <p>地址：西安市小寨十字东南角地铁口华旗国际广场15楼1523室</p>
                        <p>招生热线：029-85264680  029-85212332</p>
                        <p>学校微信：dakangxinli</p>
                        <img src="_files/upload/qrcode.png" alt="">
                    </div>
                </li>
                <!-- SEO要求暂时隐藏
                <li>
                    <div class="box">
                        <b>西安大康心理保健院</b>
                        <p>地址：西安市南二环东段31号云峰大厦605室</p>
                        <p>预约热线：029-88135388   029-88135399</p>
                        <p>微信：dakangxinlizixun</p>
                        <img src="_files/upload/qrcode2.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="box">
                        <b>西安嘉山永汇国学文化传播有限公司 </b>
                        <p>地址：西安市曲江新区雁塔南路292号曲江文化大厦五层 </p>
                        <p>预约热线：18966912993  18966912995 </p>
                        <p>微信：领袖心理课</p>
                        <img src="_files/upload/qrcode3.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="box">
                        <b>广东省大康心理职业培训学校</b>
                        <p>地址：广州市海珠区广州大道南898号和平商务中心南塔1802</p>
                        <p>咨询电话：020-89040932</p>
                        <p>微信：广东省大康心理培训学校</p>
                        <img src="_files/upload/qrcode4.png" alt="">
                    </div>
                </li>
                 -->
            </ul>
        </div>
    </div>


[#include 'end.html'/]

</body>
<script src="_files/js/jquery-1.9.1.min.js"></script>
<script src="_files/js/common.js"></script>
</html>
[/#escape]
