[#escape x as (x)!?html]
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${site.fullNameOrName}</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/css/swiper.min.css">
    <link rel="stylesheet" href="_files/css/common.css">
    <link rel="stylesheet" href="_files/css/about.css">
    [#include 'common_head.html'/]
</head>
<body>
    [#include 'head.html'/]
     <div class="wrap wrap_780">
        <h1 class="com_tit">对外交流</h1>
        <div class="jiaoliu">
            <img src="_files/upload/jiaoliu.jpg" alt="">
            <p>美国著名精神分析学家乌巴多•雷利（ Ubaldo Leli  M.D.）博士于2006年3月13日来大康心理保健院进行学术交流。</p>
            <img src="_files/upload/jiaoliu2.jpg" alt="">
            <p>2006年9月29日美国Yale精神分析家－施莱德来大康心理保健院举行学术讲座。</p>
            <img src="_files/upload/jiaoliu3.jpg" alt="">
            <p>2006年10月21日美国精神分析家罗森(Dr.Rosen)博士与大康心理保健院心理咨询师学术交流。</p>

        </div>
    </div>   
[#include 'end.html'/]

</body>
<script src="_files/js/jquery-1.9.1.min.js"></script>
<script src="_files/js/common.js"></script>
</html>
[/#escape]
