<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>大康</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/css/swiper.min.css">
    <link rel="stylesheet" href="_files/css/common.css">
    <link rel="stylesheet" href="_files/css/about.css">
</head>
<body>
  [#include 'head.html'/]
    <div class="wrap">
        <h1 class="com_tit">大康简介</h1>
        <div class="summary">
            <p>大康心理教育集团由1996年8月 成立西安大康心理保健院发展壮大而来，创始人为著名心理咨询与治疗临床专家寇觉中先生。目前，集团以心理职业培训和心理咨询服务为核心，拥有心理教育培训 系统、心理服务系统、心理测评系统、心理研发系统等多个发展平台，是一家集心理培训、心理教育、心理咨询、心理治疗、心理测评、团体心理咨询、企业心理服 务和心理产品研发于一体的综合性心理学应用机构。</p>
            <p>大康心理教育服务集团目前拥有西安大康心理保健院、陕西大康心理咨询与心理治疗培训学校、广东省大康心理职业培训学校、广州大康企业管理有限责任公司和西安 嘉山永汇企业管理咨询有限责任公司六大实体，以及在陕西设立了陕西大康心理咨询与心理治疗培训学校宝鸡辅导站、咸阳辅导站、汉中辅导站、渭南辅导站、榆林 辅导站、商洛辅导站、汉城辅导站等多家分支辅导站。现有员工100多人，其中专业教师和专业咨询师60余人，兼职人员40余人。</p>
            <p>发展至今，大康心理教育服务集团培养心理专业人才40000余人，帮助60000余长期受心理问题折磨的个体走出困扰、找回了自我，让众多的家庭重获幸福和快乐。为政府部门、军队、公安司法系统、学校、金融系统、通信系统等上千家大中型企事业单位做心理学公益讲座及报告3000余场。</p>
            <b>1、心理教育</b>
            <p>教育之本，在于树风立人。大康教育不仅树风立人，更在缔造经典。我们已经培养出40000多名优秀的心理专业人才。他们遍布全国31个省、市、自治区（包括台湾省），目前在各地开办心理咨询工作室已有上百家，上千名学员已工作在心理咨询的第一线。</p>
            <p>大康心理教育主要有专业心理教育、心理学精英教育和大众心理教育。</p>
            <b>专业心理教育：</b>
            <table>
                <tbody>
                    <tr>
                        <td>国家心理咨询师资格认证培训</td>
                        <td>有志于从事心理咨询工作，热爱心理学专业和心理咨询事业者均可报名参加。</td>
                    </tr>
                    <tr>
                        <td>国家婚姻家庭咨询师资格认证培训</td>
                        <td>随着婚姻问题和矛盾的不断加剧，婚姻家庭家庭咨询师已成为人们心灵的朝阳职业。</td>
                    </tr>
                    <tr>
                        <td>企业人力资源管理师资格认证培训</td>
                        <td>人力资源是企业的根本资源，人力资本是企业的第一资本，人力资源管理是管理科学和经济科学两大体系中众多学科相互渗透、融合的结晶。</td>
                    </tr>
                    <tr>
                        <td>企业培训师资格认证培训</td>
                        <td>培训是企业生产的第一道工序，而培训师就是塑造员工精神与企业文化的“工程师”。 全面提高劳动素质，成为当务之急。</td>
                    </tr>
                    <tr>
                        <td>育婴师资格认证培训</td>
                        <td>近年来，婴幼儿早期教育市场迅猛发展，聘请育婴师进行早期的科学喂养、营养保健和教育指导，逐渐成为当代父母的共识。</td>
                    </tr>
                    <tr>
                        <td>国家EAP务实技能（CETTIC）认证培训</td>
                        <td>基于EA行业不同岗位的对技能的不同需求，总结多年来国际最高标准的EAP培训经验，充分结合本土实践，培养具有国际化视野、本土化操作能力的EA专业人才。</td>
                    </tr>
                    <tr>
                        <td>团体教练技术</td>
                        <td>通过团体内人际交互作用，促使个体在团体互动中观察学习、体验交流、调整和改善人际关系，学习新的态度和行为方式，以发展良好生活适应的助人自助过程。</td>
                    </tr>

                </tbody>
            </table>
            <b>心理学精英教育：</b>
            <p> 为进一步提高心理咨询从业人员的专业水平、全面掌握心理咨询与治疗的高级方法与技巧而设置。（部分经典课程）</p>
            <ol class="clearfix">
                <li>心理咨询师COC精英课程班</li>
                <li>心理（人事）测量技术培训</li>
                <li>认知暗示疗法培训</li>
                <li>婚姻家庭技术培训</li>
                <li>儿童心理成长辅导</li>
                <li>实战个案督导提升</li>
                <li>......</li>
            </ol>
            <b>大众心理教育：</b>
            <p>是面向最广泛的普通大众，目的是提高个人的心理健康水平，激发个人的积极心理品质，促进个人的心理和谐。课程包括：</p>

            <p>心理保健；心理健康；婚姻家庭；家庭教育心理学；亲子关系；人际关系；环境心理学；健康心理学；色彩心理等。</p>

            <b>2、心理服务</b>
            <p>大康心理服务旨在应用心理学的原理、方法和程序预防或消除症状或适应不良的行为，促进心理健康，提高生活质量。采用包括各种心理咨询和心理治疗、心理测量和评估等工作方式，可以针对个人、家庭、团体或组织进行服务。目前，共接待来访者计60000余人次，帮助众多长期受心理问题折磨的个体走出困扰、找回了自我，让众多的家庭重获幸福和快乐。</p>

            <b>心理咨询：</b>
            <p>青少年心理问题、婚姻家庭问题、职业心理问题等。</p>

            <b>心理治疗：</b>
            <p>抑郁症、焦虑症、强迫症、恐怖症、疑病症等神经症；人格障碍、性心理障碍等；儿童感统失调、自闭症、多动症、学习障碍、情绪及行为障碍等；精神分裂症康复期治疗等。</p>

            <b>心理测评：</b>
            <p>为企事业单位招聘员工、选拔人才提供——心理健康测评、特殊能力测评、人格特质测评等；</p>
            <p>为青少年教育提供——智力测评、儿童行为测评、中小学生心理健康测评、学习方法与技能测评、升学、就业指导测评、职业倾向测评、人际关系交往能力测评等。</p>
             
            <b>3、团体心理服务（EAP服务）</b>
            <p>大康集团团体心理服务以企业服务为主，即EAP（员工心理帮助计划）服务，最大限度的挖掘员工积极性和潜力，帮助企业实现人才、市场和利益的三赢战略。</p>

            <b>服务目的：</b>
            <table>
                <tbody>
                <tr>
                    <td>对组织</td>
                    <td>对员工</td>
                    <td>对管理者</td>
                </tr>
                <tr>
                    <td>
                        提高工作做绩效<br />
                        提高团队士气<br />
                        提高意外事件的风险管理能力<br />
                        提高企业凝聚力<br />
                        促进企业和谐发展<br />
                        树立企业人文关怀形象<br />
                        降低意外事故发生率<br />
                        降低缺勤率<br />
                        减少医疗成本<br />
                        减少招聘成本及培训费用
                    </td>
                    <td>
                        提高工作绩效<br />
                        提升生活质量<br />
                        和谐家庭/工作关系<br />
                        培养良好习惯<br />
                        缓解工作压力<br />
                        改善人际关系<br />
                        有效管理个人职业生涯<br />
                        增进个人身心健康<br />
                        促进家庭和睦<br />
                        促进工作生活平衡
                    </td>
                    <td>
                        提高追求目标<br />
                        改善员工关系<br />
                        有效处理上下级之间关系<br />
                        有更多的时间关注工作<br />
                        减少员工投诉
                    </td>
                </tr>

                </tbody>
            </table>

            <b>服务过的企业（部分）：</b>
            <p>陕西省公安厅，陕西省检察院，西安市政法系统，陕西省监狱管理局（红石岩监狱），广东省监狱管理局（佛山监狱、揭阳监狱），建设银行，中国银行，华商晨报，中国兵器203所、204所、206所、213所，中国电子集团第20研究所，中联西北设计研究院，陕鼓集团，中国电信，中国移动，中国联通，长庆油田、昆仑集团、IBM、中化公司等。</p>

            <b>EAP服务方式</b>
            <p>（1）系统式服务，即“套餐式”服务；（2）选项式服务，即“菜单式”服务；</p>

            <b>EAP服务的特点</b>
            <p>保密性  中立性  系统性  多样性  时效性  针对性</p>

            <b>二、企业文化</b>
            <ul>
                <li>理      念： 以善为本 大德康生</li>
                <li>使      命： 关怀国人精神 诠释心理力量</li>
                <li>目      标： 人人沐浴快乐 家家漾溢幸福</li>
                <li>口      号： 力量由心而发 和谐从心而始</li>
                <li>校      训： 树风立人 缔造经典</li>
                <li>院      训： 大爱无垠 构建和谐</li>
                <li>EAP中心： 人文关怀 共赢发展</li>
                <li>大康精神： 敢为人先的创新精神 坚韧不拔的实干精神 与人为善的协作精神 追求卓越的进取精神</li>
            </ul>

            <b>三、企业荣誉</b>
            <img src="_files/css/img/honor.jpg" alt="">
        </div>
    </div>





 [#include 'end.html'/]
</body>
<script src="_files/js/jquery-1.9.1.min.js"></script>
<script src="_files/js/common.js"></script>
</html>