[#escape x as (x)!?html]
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>大康</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/css/swiper.min.css">
    <link rel="stylesheet" href="_files/css/common.css">
    <link rel="stylesheet" href="_files/css/about.css">
</head>
<body>
    <!--通用顶部 start-->

    <!--顶部菜单与logo start-->
    <div class="header" id="header">
        <div class="wrap">
            <span class="logo">
                <a href="#">
                    <img src="_files/css/img/logo.png" alt="">
                </a>
            </span>


            <ul class="menu clearfix">
                <li class="current"><a href="#">首页</a></li>
                <li>
                    <a href="#">网络课程</a>
                    <span class="sub_menu">
                        <a href="#">在线课程</a>
                        <a href="#">资讯</a>
                        <a href="#">文库</a>
                        <a href="#">题库</a>
                        <a href="#">名师查询</a>
                        <a href="#">学习中心</a>
                    </span>
                </li>
                <li><a href="#">在线报名</a></li>
                <li><a href="#">督导系统</a></li>
                <li><a href="#">OPS</a></li>
                <li>
                    <a href="#">心理氧吧</a>
                    <span class="sub_menu">
                        <a href="#">心理测试</a>
                        <a href="#">心理咨询</a>
                        <a href="#">最新开课</a>
                        <a href="#">文章精选</a>
                        <a href="#">行业资讯</a>
                        <a href="#">沙龙讲座</a>
                        <a href="#">案例分享</a>
                        <a href="#">心灵FM</a>
                    </span>
                </li>
                <li>
                    <a href="#">关于我们</a>
                    <span class="sub_menu">
                        <a href="#">师资力量</a>
                        <a href="template/1/default/dk_introduce.html">大康简介</a>
                        <a href="template/1/default/dk_process.html">发展历程</a>n.
                        <a href="#">对外交流</a>
                        <a href="#">诚聘英才</a>
                        <a href="#">联系我们</a>
                    </span>
                </li>
            </ul>

            <div class="search_box">
                <form action="">
                    <button type="submit" class="icon-search"></button>
                    <span class="ipt"><input type="text"></span>
                </form>
            </div>
            <span class="menu_btn" id="menu_btn">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </div>
    <!--顶部菜单与logo end-->
    <!--通用顶部 end-->

    <div class="wrap">
        <h1 class="com_tit">发展历程</h1>

        <div class="timeline">
            <div class="year">
                <span>2016</span>
            </div>
            <div class="box">
                <span class="point"><i></i></span>
                <div class="r">
                    <div class="word_box">
                        <p>08月13日，西安大康心理保健所成立。</p>
                    </div>
                </div>
            </div>
            <div class="box">
                <span class="point"><i></i></span>
                <div class="l">
                    <div class="word_box">
                        <p>08月22日，西安大康心理保健所正式更名为西安大康心理保健院。</p>
                    </div>

                </div>

            </div>


            <div class="year">
                <span>2015</span>
            </div>
            <div class="box">
                <span class="point p_l"><i></i></span>
                <div class="r">
                    <div class="word_box">
                        <p>中国科学院心理研究所授予我院为“中国科学院心理研究所心理学函大西北辅导中心”。</p>
                    </div>
                </div>
            </div>
            <div class="box">
                <span class="point"><i></i></span>

                <div class="l">
                    <div class="word_box">
                        <p>06月，第一套大康之音系列咨询磁带问世，配合心理咨询，效果显著。</p>
                    </div>
                </div>
            </div>




        </div>
    </div>






    <div class="footer">
        <div class="wrap">
            <div class="links">
                <b>友情链接：</b>
                <div class="link_list">
                    <a href="">雅芳中国</a>
                    <a href="">百雀羚</a>
                    <a href="">自然堂</a>
                    <a href="">巴黎欧莱雅</a>
                    <a href="">谷歌</a>
                    <a href="">百度</a>
                    <a href="">FACEBOOK</a>
                    <a href="">腾讯</a>
                    <a href="">窃美记</a>
                    <a href="">滴滴打车</a>
                    <a href="">美图秀秀</a>
                    <a href="">新浪中国</a>
                </div>
            </div>

            <div class="foot_bt clearfix">
                <div class="bl">
                    <img src="_files/css/img/logo.png" alt="" class="logo">
                    <div class="bl_main">
                        <p>
                            <a href="#">关于大康</a>
                            <a href="#">诚聘英才</a>
                            <a href="#">联系我们</a>
                            <a href="#">各地辅导站</a>
                        </p>
                        <p>西安大康心理咨询中心   陕ICP备12003221号</p>
                    </div>
                </div>
                <div class="br">
                    <a href="#" class="icon-weibo"></a>
                    <a href="#" class="icon-wx"></a>
                    <a href="#" class="icon-douban"></a>
                    <span><i class="icon-phone"></i>心理培训：029-85264680  心理咨询：029-88135388</span>
                </div>
            </div>
        </div>
    </div>



    <div class="side_fixed">
        <a href="#header">TOP</a>
        <a href="javascript:;">
            <span class="icon-wx"></span>
            <div class="pop clearfix">
                <img src="_files/upload/side_qrcode1.png" alt="">
                <img src="_files/upload/side_qrcode2.png" alt="">
            </div>
        </a>
        <a href="javascript:;"><span class="icon-service"></span></a>
        <a href="javascript:;">
            <span class="icon-phone2"></span>
            <div class="pop clearfix">
                <b>联系电话</b>
                <p>保健院（心理咨询 029-88135388）</p>
                <p>学　校（报名咨询 029-85264680）</p>
            </div>
        </a>
    </div>
</body>
<script src="_files/js/jquery-1.9.1.min.js"></script>
<script src="_files/js/common.js"></script>
</html>
[/#escape]