[#escape x as (x)!?html]
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>大康</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/css/swiper.min.css">
    <link rel="stylesheet" href="_files/css/common.css">
    <link rel="stylesheet" href="_files/css/about.css">
    [#include 'common_head.html'/]
</head>
<body>
   [#include 'head.html'/]
    <div class="wrap">
        <h1 class="com_tit">发展历程</h1>
        <div class="summary fazhan_summary">
            <b>1996年大事记：</b>
            <p>08月13日，西安大康心理保健所成立。</p>

            <b>1998年大事记：</b>
            <p>08月22日，西安大康心理保健所正式更名为西安大康心理保健院。<br />
            12月23日，中国科学院心理研究所授予我院为“中国科学院心理研究所心理学函大西北辅导中心”。</p>

            <b>1999年大事记：</b>
            <p>06月，第一套大康之音系列咨询磁带问世，配合心理咨询，效果显著。</p>

            <b>2000年大事记：</b>
            <p>10月08日，陕西大康心理咨询与心理咨询培训学校正式成立。<br />
            12月01日， 首期心理咨询师培训班开课。</p>

            <b>2001年大事记：</b>
            <p>07月07日， 陕西省心理卫生协会换届选举，寇院长当选理事。<br />
            09月10日，寇院长应邀到解放军二炮工程学院作报告十余场,被授予名誉教授。<br />
            11月10日，大康应邀参加北京“第七届全国大学生心理健康教育与心理咨询学术交流会”。</p>

            <b>2002年大事记：</b>
            <p>02月05日，大康首届高级心理咨询研修班开班，由北大著名教授胡佩诚教授主讲。</p>

            <b>2003年大事记：</b>
            <p>01月16日，经国家劳动和社会保障部审批，我校被授予全国首批心理咨询师（三级）国家职业资格培训和报名定点机构。<br />
            02月24日， 大康心理注册商标核准注册。<br />
            04月，与北京华夏赛科有限公司合作，开通了陕西省心理咨询师职业资格培训远程教育辅导站。<br />
            08月17日，大康心理俱乐部成立。<br />
            12月， 法国著名精神分析专家卢梭•佛雷德克先生、阿苏•巴斯卡尔访问大康并与学员进行学术交流。</p>

            <b>2004年大事记：</b>
            <p>01月03日，经国家劳动和社会保障部批准，大康被授予全国首批心理咨询师（二级）国家职业资格培训和报名点定点机构。<br />
            08月06日，与四川大学联合举办的首期应用心理学专业硕士研究生课程进修班开班。<br />
            10月，我校与北京大学心理学系合作成立心理学系高等教育自学考试西安辅导站成立。</p>

            <b>2005年大事记：</b>
            <p>01月14日，北京大学心理学自考首期辅导班开学。<br />
            03月09日，我校被陕西省劳动和社会保障厅评为“国家劳动和社会保障部新职业新工种星级培训鉴定机构”。<br />
            05月08日，清华大学樊富珉教授团体咨询高级技术培训班开课。<br />
            07月09日，大康心理课堂正式开课。<br />
            07月16日， 寇觉中校长应邀参加第五届华人心理学家学术研讨会。<br />
            08月05日， 北大胡佩诚教授行为咨询高级技术培训班开课。<br />
            08月24日， 北大霍利钦教授家庭咨询技术培训班开课。<br />
            09月05日， 大康心理保健院被陕西师范大学教育科学学院定点为心理学专业大学生实习基地。<br />
            09月24日， 美国精神分析专家艾伦博士来大康访问并进行学术交流。<br />
            12月16日， 由大康心理培训学校承办的陕西省公安机关民警心理健康组织工作者训练班开班，全省10个地市84个县局的140名干警参加了培训。<br />
            12月24日， 学校承办的陕西省公安厅首期基层民警心理健康培训班开班。</p>

            <b>2006年大事记：</b>
            <p>02月03日， 大康学校第二期四川大学应用心理学专业（精神分析方向）研究生班开班。<br />
            02月23日，美国精神分析专家雷利博士访问大康。<br />
            03月16日，精神分家专家乌巴多访问大康。<br />
            03月25日，北京大学心理学系高等教育自学考试辅导站长工作会议在大康举行。<br />
            03月29日， 大康心理保健院乔迁新址。<br />
            04月18日， 法国精神分析专家梅利博士来大康访问、交流。<br />
            05月09日， 陕西省公安厅第二期民警心理健康基层基础组织者训练班开班。<br />
            06月22日， 陕西中医学院实习基地在保健院举行挂牌仪式。<br />
            08月13日， 大康心理保健院成立10周年。<br />
            09月29日， 美国耶鲁大学精神分析家施莱德教授来大康访问、讲学。<br />
            10月15日， 大康心理首期EAP咨询师培训班开班。<br />
            10月21日， 美国精神分析家罗森博士来大康访问、交流。</p>

            <b>2007年大事记：</b>
            <p>07月05日，德法联合电视台《精神分析在中国》专题片在大康拍摄。<br />
            07月10日，美国耶鲁大学精神分析家施莱德教授再次来访、讲学。<br />
            09月05日，大康心理培训学校乔迁新址。<br />
            10月16日，华山监狱心理咨询师培训班开班。<br />
            12月13日， 苏州医学院马维祥教授催眠疗法培训班在大康举行,来自全国各地的50多名学员参加了培训。<br />
            12月16日， 北京大学心理学自考辅导班首批学员荣获毕业证书。</p>

            <b>2008年大事记：</b>
            <p>01月08日，红石岩监狱干警心理咨询师培训班开班。<br />
            01月24日，宝鸡监狱干警心理咨询师培训班开班。<br />
            03月07日，陕西省劳动和社会保障厅召开全省职业技能鉴定工作报告,我校再次获得“全国新职业新工种统一鉴定制定报名点星级培训机构”。<br />
            03月24日，陕西省女子监狱干警心理咨询师培训班开班。<br />
            04月15日， 西安大康心理保健院被陕西省心理咨询师协会评为“优秀心理咨询机构”，同时，陕西大康心理咨询与心理咨询培训学校被评为“优秀心理培训机构”。<br />
            05月13日， 四川汶川地震,大康组织了37人的心理援助志愿者小分队，由寇院长带队分两批奔赴四川灾区第一线，为灾区同胞抚慰伤痛，奉献爱心。<br />
            08月22日， 法国著名精神分析家马无名先生访问大康,举办精神分析与中国文化研讨班，来自全国30多名心理学爱好者参加了培训。<br />
            09月03日， 北京大学心理学系高等教育自学考试陕西西安民警2008级本科班开学典礼在公安消防西安指挥学校隆重举行暨正式上课。<br />
            10月09日， 寇觉中校长应西安市政法系统的邀请，为上百名政法干部进行心理培训。<br />
            11月01日， 延安大学心理学系师生到大康参观学习。<br />
            11月10日， 陕西省公安消防总队干警心理咨询师培训班开班。<br />
            12月31日， 广东省大康心理职业培训学校经广东省人力资源与社会保障厅批准在广州成立。</p>

            <b>2009年大事记：</b>
            <p>01月05日，在西安晚报举办的“为民办教育喝彩，改革开放30年西安民办教育风采展示”专题活动中，寇觉中校长荣获“西安民办教育卓越成就奖”。<br />
            01月11日，举行“2009年大康心理新春联谊会”。<br />
            01月20日，西安大康心理保健院领导来到了周至县九峰乡星峰小学,为这里的孩子们送去了美籍华人金悦梅女士的爱心和大康心理保健院全体员工的新春祝福。<br />
            02月14日，汉中辅导站首期心理咨询师职业资格培训班开班。<br />
            02月27日， 陕西省监狱管理局心理咨询师班开班。<br />
            03月10日， 榆林监狱干警心理咨询师培训班开班。<br />
            03月11日， 广东省大康心理职业培训学校召开成立大会暨开学典礼。<br />
            03月20日， 陕西省劳动和社会保障厅召开陕西省职业技能鉴定工作会议,我校被授予“2008年度职业技能鉴定工作先进单位”和“全国（省）新职业新工种统一鉴定指定报名点”星级标牌，寇觉中校长被评为 “2008年度职业技能鉴定工作先进个人”。<br />
            04月05日， 奥地利维也纳弗洛伊德大学校长阿尔弗雷德•普里茨教授（Dr. Alfred Pritz）访问广东省大康心理职业培训学校。<br />
            04月08日， 奥地利维也纳弗洛伊德大学校长阿尔弗雷德•普里茨教授（Dr. Alfred Pritz）访问西安大康。<br />
            05月14日， 大康心理培训学校和西安工程大学联合在西安工程大学举办了大学生心理健康月活动启动仪式，寇觉中校长出席并做了演讲。我校被授予“西安工程大学心理教育基地”。<br />
            06月08日， 大康心理与建设银行陕西省分行在西安举行了EAP签字仪式。这标志着大康心理EAP服务正式展开。<br />
            06月15日， 西安大康心理保健院与西安监狱共同为服刑人员举办了“心理关爱日活动”。西安监狱干警、大康保健院心理咨询师和部分服刑人员共60多人参加了此次活动。<br />
            08月25日， 陕西省延安监狱干警心理咨询师培训班开学。<br />
            09月19日， 寇觉中校长被西安外事学院聘为客座教授。<br />
            09月20日， 陕西省人力资源与社会保障厅厅长鬲向前在大康学校学习心理咨询师资格认证培训课程。<br />
            09月26日， 陕西大康心理培训学校咸阳辅导站成立。<br />
            10月18日， 第三届中国心理学家大会在北京人民大会堂举行，陕西大康心理咨询与心理咨询培训学校和寇觉中校长分别被评为“全国优秀心理健康教育机构”和“全国优秀心理学工作者”，西安大康心理保健院获“全国优秀心理健康服务机构”提名奖。<br />
            11月25日， 大康心理寇觉中校长应邀出访奥地利维也纳佛洛依德大学。<br />
            12月05日， 大康学校第三期四川大学应用心理学专业（精神分析方向）研究生班开班。<br />
            12月12日， 大康心理董事长寇觉中在由陕西省商务厅、工商局、知识产权局、工商联等十家单位共同主办第二届陕商大会上，荣获“共和国六十年——陕西功勋人物”称号。</p>

            <b>2010年大事记：</b>
            <p>01月10日，大康EAP服务中心与沈阳晨报在沈阳举行EAP服务启动仪式。<br />
            01月18日，在“华商报•华商网首届教育培训机构年度总评榜”活动中，陕西大康心理培训学校“国家心理咨询师资格认证培训”项目被评为“2009陕西最受欢的教育项目”。<br />
            03月6日，国际著名NLP大师李中莹来大康参观访问。<br />
            03月13日，大康学校参加由华商报、华商网举办的“3.15培训学校、留学服务机构诚信传言签字”活动。<br />
            03月18日， 陕西省劳动和社会保障厅召开陕西省职业技能鉴定工作会议,我校被授予“2009年度职业技能鉴定工作先进单位”和“国家职业资格统一鉴定二星级报名点”星级标牌。<br />
            04月21日， 大康心理全体员工为玉树地震灾区进行募捐。<br />
            06月20日， “大康心理讲坛”在陕西省图书馆隆重开坛。“大康心理讲坛”是为庆贺大康心理企业成立十五周年，感谢社会各界长期以来的关心支持，特邀请知名心理专家、学者就大家普遍关心的心身健康问题举办的大型公益专题讲座。<br />
            07月15日， 第二期建设银行陕西省分行EAP项目签约。<br />
            08月31日， 受司法部监狱管理局委托，陕西大康心理咨询与心理咨询学校承办的全国司法部监狱管理局心理咨询师师资班正式开班。此次培训共有北方近20个省份的监狱管理局派代表参加，学员近百名。<br />
            10月16日， 广东省大康心理职业学校卢祖琴老师被第16届亚运会组委会聘请为2010年广州亚运会志愿者培训讲师。<br />
            10月21日， 2010年10月21日，青海省监狱管理局干警心理咨询师培训班在大康学校开班，近40名干警参加了培训。<br />
            10月22日， 陕西大康心理咨询与心 理咨询培训学校十周年庆典暨心理服务与品质生活高峰论坛在西安隆重召开。陕西省人力资源与社会保障厅办公室韩军主任，陕西省职业鉴定中心任虎奎副主任，陕 西省司法厅监狱管理局教育处胡保安处长，西安市妇女联合会冯莉副主席，陕西师范大学欧阳伦教授、王淑兰教授，台湾中原大学林志平教授，台湾国立师范大学心 理研究所何纪莹主任，美籍EAP专家郭喜燕老师等领导专家出席了庆典活动，陕西社会各企业负责人、陕西省各大媒体和大康学校海内外学子近300人参加庆典 活动。<br />
            10月23日，“心理服务与品质生活高峰论坛”召开。<br />
            10月30日， 精神分析家、美国耶鲁大学教授爱丽丝•施莱德（ Elise W. Snyder, M.D）女士在陕西大康心理培训学校与大康学子们进行学术交流。<br />
            11月3日， 武警工程大学心理咨询师培训班在中国人民武装警察部队工程大学（简称武警工程大学）开班。<br />
            11月4日， 央视网对大康心理董事长寇觉中进行了长达2个小时的专题采访。<br />
            11月8日， 大康心理卢祖琴老师应邀为广东省北江监狱举办了为期三天的表达性艺术咨询综合技术培训班。<br />
            11月18日， 广东省人力资源和保障厅职业能力建设处处长黎俊宁带领一行二人来到广东省大康心理培训学校考察指导工作。鼓励大康心理职业培训学校充分解放思想，拓展办学思路，提高办学质量，坚持科学化专业化职业化办学方向，力争把大康心理职业培训学校办成广东省职业能力培训的品牌学校。<br />
            11月22日， 青海省监狱管理局心理咨询师上岗证培训班开班，31名监狱干警参加了培训。<br />
            11月29日， 司法部心理矫治高级技术培训班（一期）开班，来自全国各监狱局的60名干警参加培训。<br />
            12月13日， 司法部心理矫治高级技术培训班（二期）开班，来自全国各监狱局的61名干警参加培训。</p>

            <b>2011年大事记：</b>
            <p>01月10日，广东省监狱管理局领导干部心理咨询师第二阶段培训在西安进行，来自广东省各监狱的59名干警参加了培训。<br />
            03月中下旬，我校开始为陕西省延安监狱、黄陵监狱、马栏监狱共计百名干警进行了心理咨询师职业资格培训。<br />
            03月16日，我校为西安世园会志愿者做心理辅导讲座，受到一致好评。<br />
            03月25日，陕西省劳动和社会保障厅召开陕西省职业技能鉴定工作会议,我校被授予“2010年度职业技能鉴定工作先进单位”和“国家职业资格统一鉴定二星级报名点”星级标牌。寇觉中校长被评为“2010年度职业技能鉴定先进个人”称号。<br />
            04月10日， 我校讲师卢祖琴为世园会志愿者进行心理学知识培训。<br />
            06月09日， 我校为武警工程大学近200名学员开办为期四个月的心理咨询师职业资格培训。<br />
            06月20日， 陕西省监狱管理局心理咨询师上岗证培训班开班，来自全省各监狱的76名干警参加了培训。<br />
            07月10日， 司法部监狱系统首期心理矫治高级技术培训班开班，来自全国各监狱局的92名干警参加培训。<br />
            09月03日， 河南省监狱系统心理矫治高级技术培训班开班，来自全省各监狱的62名干警参加了培训。<br />
            09月15日， 司法部监狱系统心理矫治高级技术培训班开班，来自全国各监狱局的52名干警参加培训。<br />
            09月23日， 陕西省监狱管理局心理咨询师上岗证培训班开班，来自全省各监狱的62名干警参加了培训。<br />
            11月01日， 陕西省监狱管理局心理咨询师上岗证培训班开班，来自陕西红石岩监狱的45名干警参加了培训。</p>

            <b>2012年大事记：</b>
            <p>03月19日，陕西省劳动和社会保障厅召开陕西省职业技能鉴定工作会议,我校被授予“2011年度职业技能定工作先进单位”和“国家职业资格统一鉴定二星级报名点”星级标牌。同时，寇觉中校长被评为“2011年度职业技能鉴定先进个人”称号。<br />
            03月20日，我校分别为陕西省警官职业学院、陕西省商洛学院心理系专业学员开办心理咨询师职业资格培训班，近80名学员参加培训。<br />
            04月25日，司法部监狱系统心理矫治高级技术培训班开班，来自全国各监狱局的101名干警参加培训。<br />
            05月08日，江西省监狱管理局心理矫治工作管理干部研修班，来自全省各监狱的21名干警参加了培训。<br />
            05月19日， 组织上半年近800名考生参加心理咨询师资格考试，并为考生做好考试服务工作。<br />
            05月20日， 陕西省监狱管理局心理咨询师上岗证培训班开班，来自全省各监狱的57名干警参加了培训。<br />
            06月9日， 武警工程大学（三桥）心理咨询师三级培训班开班，120余名学员参加培训。<br />
            07月04日， 武警工程大学（灞桥）心理咨询师三级培训班开班，200余名学员参加培训。<br />
            07月20日， 台湾张传琳博士现实咨询法工作坊在大康学校举办。<br />
            08月18日， 我校首期团体心理教练技术体验培训班开班。</p>

        </div>
    </div>

[#include 'end.html'/]
</body>
<script src="_files/js/jquery-1.9.1.min.js"></script>
<script src="_files/js/common.js"></script>
</html>
[/#escape]