[#escape x as (x)!?html]
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>大康</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/css/swiper.min.css">
    <link rel="stylesheet" href="_files/css/common.css">
    <link rel="stylesheet" href="_files/css/about.css">
</head>
<body>
   [#include 'head.html'/]
    <div class="wrap">
        <h1 class="com_tit">发展历程</h1>

        <div class="timeline">
            <div class="year">
                <span>2016</span>
            </div>
            <div class="box">
                <span class="point"><i></i></span>
                <div class="r">
                    <div class="word_box">
                        <p>08月13日，西安大康心理保健所成立。</p>
                    </div>
                </div>
            </div>
            <div class="box">
                <span class="point"><i></i></span>
                <div class="l">
                    <div class="word_box">
                        <p>08月22日，西安大康心理保健所正式更名为西安大康心理保健院。</p>
                    </div>

                </div>

            </div>


            <div class="year">
                <span>2015</span>
            </div>
            <div class="box">
                <span class="point p_l"><i></i></span>
                <div class="r">
                    <div class="word_box">
                        <p>中国科学院心理研究所授予我院为“中国科学院心理研究所心理学函大西北辅导中心”。</p>
                    </div>
                </div>
            </div>
            <div class="box">
                <span class="point"><i></i></span>

                <div class="l">
                    <div class="word_box">
                        <p>06月，第一套大康之音系列咨询磁带问世，配合心理咨询，效果显著。</p>
                    </div>
                </div>
            </div>




        </div>
    </div>




[#include 'end.html'/]
</body>
<script src="_files/js/jquery-1.9.1.min.js"></script>
<script src="_files/js/common.js"></script>
</html>
[/#escape]