[#escape x as (x)!?html]
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${site.fullNameOrName}</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/css/swiper.min.css">
    <link rel="stylesheet" href="_files/css/common.css">
    <link rel="stylesheet" href="_files/css/index.css">
</head>
<body>
    [#include 'head.html'/]
      <div class="wrap">2
        <h1 class="com_tit">诚聘英才</h1>
        <div class="zhaopin_list">
            <ul class="clearfix">
                <li>
                    <div class="box">
                        <b class="tit">iOS 架构师</b>
                        <p>作为iOS架构师，我们希望你可以参与优化iOS团队的开发方式及协作流程，创建技术标准及规范，并孜孜不倦的布道，对技术改进、性能优化、技术选型提供解决方案，为组员的技术成长制定目标、计划并帮助实施，提升整体技术水平。</p>
                        <strong class="tit">你的工作内容</strong>
                        <ul>
                            <li>引入创新的技术、创新的解决方案，用创新的思路解决问题；</li>
                            <li>深入发掘和分析业务需求，确定技术方案和系统设计；</li>
                            <li>系统核心部分代码编写，解决疑难问题；</li>
                            <li>对现存或未来系统进行宏观的思考，规划形成统一的框架或者组件；</li>
                            <li>指导和培训工程师，促进团队成员的进步。</li>
                        </ul>
                        <strong class="tit">你的工作内容</strong>
                        <ul>
                            <li>具备3年以上C/C++/Objective-C编程工作经验，有Swift开发经验，有全栈开发能力者优先；</li>
                            <li>有3年以上iOS客户端开发经验，有Mac端应用开发经验者优先，有独立开发的上架- 应用者优先；</li>
                            <li>具有系统架构能力，有高性能编码能力；</li>
                            <li>具有良好的沟通能力，有较强的独立工作能力和解决问题的能力。</li>
                        </ul>

                    </div>
                </li>
                <li>
                    <div class="box">
                        <b class="tit">iOS 架构师</b>
                        <p>作为iOS架构师，我们希望你可以参与优化iOS团队的开发方式及协作流程，创建技术标准及规范，并孜孜不倦的布道，对技术改进、性能优化、技术选型提供解决方案，为组员的技术成长制定目标、计划并帮助实施，提升整体技术水平。</p>
                        <strong class="tit">你的工作内容</strong>
                        <ul>
                            <li>引入创新的技术、创新的解决方案，用创新的思路解决问题；</li>
                            <li>深入发掘和分析业务需求，确定技术方案和系统设计；</li>
                            <li>系统核心部分代码编写，解决疑难问题；</li>
                            <li>对现存或未来系统进行宏观的思考，规划形成统一的框架或者组件；</li>
                            <li>指导和培训工程师，促进团队成员的进步。</li>
                        </ul>
                        <strong class="tit">你的工作内容</strong>
                        <ul>
                            <li>具备3年以上C/C++/Objective-C编程工作经验，有Swift开发经验，有全栈开发能力者优先；</li>
                            <li>有3年以上iOS客户端开发经验，有Mac端应用开发经验者优先，有独立开发的上架- 应用者优先；</li>
                            <li>具有系统架构能力，有高性能编码能力；</li>
                            <li>具有良好的沟通能力，有较强的独立工作能力和解决问题的能力。</li>
                        </ul>

                    </div>
                </li>
                <li>
                    <div class="box">
                        <b class="tit">iOS 架构师</b>
                        <p>作为iOS架构师，我们希望你可以参与优化iOS团队的开发方式及协作流程，创建技术标准及规范，并孜孜不倦的布道，对技术改进、性能优化、技术选型提供解决方案，为组员的技术成长制定目标、计划并帮助实施，提升整体技术水平。</p>
                        <strong class="tit">你的工作内容</strong>
                        <ul>
                            <li>引入创新的技术、创新的解决方案，用创新的思路解决问题；</li>
                            <li>深入发掘和分析业务需求，确定技术方案和系统设计；</li>
                            <li>系统核心部分代码编写，解决疑难问题；</li>
                            <li>对现存或未来系统进行宏观的思考，规划形成统一的框架或者组件；</li>
                            <li>指导和培训工程师，促进团队成员的进步。</li>
                        </ul>
                        <strong class="tit">你的工作内容</strong>
                        <ul>
                            <li>具备3年以上C/C++/Objective-C编程工作经验，有Swift开发经验，有全栈开发能力者优先；</li>
                            <li>有3年以上iOS客户端开发经验，有Mac端应用开发经验者优先，有独立开发的上架- 应用者优先；</li>
                            <li>具有系统架构能力，有高性能编码能力；</li>
                            <li>具有良好的沟通能力，有较强的独立工作能力和解决问题的能力。</li>
                        </ul>

                    </div>
                </li>
                <li>
                    <div class="box">
                        <b class="tit">iOS 架构师</b>
                        <p>作为iOS架构师，我们希望你可以参与优化iOS团队的开发方式及协作流程，创建技术标准及规范，并孜孜不倦的布道，对技术改进、性能优化、技术选型提供解决方案，为组员的技术成长制定目标、计划并帮助实施，提升整体技术水平。</p>
                        <strong class="tit">你的工作内容</strong>
                        <ul>
                            <li>引入创新的技术、创新的解决方案，用创新的思路解决问题；</li>
                            <li>深入发掘和分析业务需求，确定技术方案和系统设计；</li>
                            <li>系统核心部分代码编写，解决疑难问题；</li>
                            <li>对现存或未来系统进行宏观的思考，规划形成统一的框架或者组件；</li>
                            <li>指导和培训工程师，促进团队成员的进步。</li>
                        </ul>
                        <strong class="tit">你的工作内容</strong>
                        <ul>
                            <li>具备3年以上C/C++/Objective-C编程工作经验，有Swift开发经验，有全栈开发能力者优先；</li>
                            <li>有3年以上iOS客户端开发经验，有Mac端应用开发经验者优先，有独立开发的上架- 应用者优先；</li>
                            <li>具有系统架构能力，有高性能编码能力；</li>
                            <li>具有良好的沟通能力，有较强的独立工作能力和解决问题的能力。</li>
                        </ul>

                    </div>
                </li>
            </ul>
        </div>
    </div>


[#include 'end.html'/]

</body>
<script src="_files/js/jquery-1.9.1.min.js"></script>
<script src="_files/js/common.js"></script>
</html>
[/#escape]
