[#escape x as (x)!?html]
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${node.name}</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/css/swiper.min.css">
    <link rel="stylesheet" href="_files/css/common.css">
    <link rel="stylesheet" href="_files/css/about.css">
    [#include 'common_head.html'/]
</head>
<body>
[#include 'head.html']

    <div class="wrap">
        <h1 class="com_tit">诚聘英才</h1>
        <div class="zhaopin_list">
           
           [@InfoPage node='recruit';pagedList]
            <ul class="clearfix">
             	[#list pagedList.content as info]
                <li>
                    <div class="box">
                        <b class="tit">${info.title}</b>
                        <p>[#noescape]${info.customs['positionIntroduction']!}[/#noescape]</p>
                        <strong class="tit">你的工作内容</strong>
                           [#noescape] ${info.customs['jobs']!}[/#noescape]
                        <strong class="tit">岗位要求</strong>
                            [#noescape] ${info.customs['jobRequirement']!}[/#noescape]

                    </div>
                </li>
                [/#list]
             </ul>
              [/@InfoPage]
        </div>
    </div>





   [#include 'end.html']
</body>
<script src="_files/js/jquery-1.9.1.min.js"></script>
<script src="_files/js/common.js"></script>
</html>
[/#escape]