[#escape x as (x)!?html]
<html><head>
<meta charset="UTF-8">
</head>
<body>
<script type="text/javascript" src=_files/chatOnline.js></script>
<script type="text/javascript" src=_files/chatOnline2.js></script>
 <!--通用底部 start-->
    <!--底部菜单与logo start-->
       <div class="footer">
        <div class="wrap">
            <div class="links">
                <b>友情链接：</b>
                <div class="link_list">
                    [@FriendlinkList;list]
						[#list list as friendlink]
							<a href="${friendlink.url}" target="_blank" title="${friendlink.name}">${friendlink.name}</a>
						[/#list]
					[/@FriendlinkList]
                </div>
            </div>

            <div class="foot_bt clearfix">
                <div class="bl">
                    <img src="_files/css/img/logo.png" alt="" class="logo">
                    <div class="bl_main">
                        <p>
                            <a href="${ctx}/dk_introduce.jspx">关于大康</a>
                            <a href="${ctx}/dk_recruit.jspx">诚聘英才</a>
                            <a href="${ctx}/dk_connection.jspx">联系我们</a>
                        </p>
                        <p>${site.customs['company']}   ${site.customs['icp']}</p>
                    </div>
                </div>
                <div class="br">
                    <a href="http://weibo.com/dkxlxx" class="icon-weibo"></a>
                    <a href="https://site.douban.com/192719/" class="icon-douban"></a>
                    <span><i class="icon-phone"></i>心理培训：029-85264680  心理咨询：029-88135388</span>
                </div>
            </div>
        </div>
    </div>


    <div class="side_fixed">
        <a href="#header">TOP</a>
        <a href="javascript:;">
            <span class="icon-wx"></span>
            <div class="pop clearfix">
                <img src="_files/upload/side_qrcode1.png" alt="">
                <img src="_files/upload/side_qrcode2.png" alt="">
            </div>
        </a>
        <a href="javascript:ib_wopen();"><span class="icon-service"></span></a>
        <a href="javascript:;">
            <span class="icon-phone2"></span>
            <div class="pop clearfix">
                <b>联系电话</b>
                <p>心理咨询  029-88135388 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <p>报名咨询  029-85264680 西安</p>
                <p>报名咨询  020-89040932 广东</p>
            </div>
        </a>
    </div>
        <!--底部菜单与logo end-->
    <!--通用底部 end-->

</body>
</html>

[/#escape]
