[#escape x as (x)!?html]
<html><head>
<meta charset="UTF-8">
</head>
<body>
 <!--通用顶部 start-->
    <!--顶部菜单与logo start-->
    <div class="header" id="header">
        <div class="wrap">
            <span class="logo">
                <a href="${ctx}/">
                    <img src="_files/css/img/logo.png" alt="">
                </a>
            </span>

            <ul class="menu clearfix">
                <li id="index"><a href="${ctx}/">首页</a></li>
                <li><a href="${ctx}/dk_building.jspx">心理教育</a></li>
                <li id="teacherManager">
                	[@Node number='consultationTeacher'; node]
                		<a href="${node.url}">心理咨询</a>
                    [/@Node]
                </li>
                <li><a href="${ctx}/dk_building.jspx">OPS</a></li>
                <!-- 心理氧吧 -->
                <li id="news">
                	[@Node number='news'; node]
                    <a href="${node.url}">${node.name}</a>
                    [/@Node]
                    <span class="sub_menu">
                    [@NodeList parent='news' limit='6';list]
					[#list list as node]
                        <a href="${node.url}">${node.name}</a>
                     [/#list]
                     [/@NodeList]
                    </span>
                </li>
                <li><a href="${ctx}/dk_building.jspx">校友会</a></li>
                 
                <li id="about">
                    <a href="${ctx}/dk_introduce.jspx">关于我们</a>
                    <span class="sub_menu">
                    	[@Node number='teacherManager';node]
                        <a href="${node.url}">${node.name}</a>
                     	[/@Node]
                        <a href="${ctx}/dk_introduce.jspx">大康简介</a>
                        <a href="${ctx}/dk_process.jspx">发展历程</a>
                        <a href="${ctx}/dk_exchange.jspx">对外交流</a>
                        [@Node number='recruit';node]
                        <a href="${node.url}">${node.name}</a>
                        [/@Node]
                        <a href="${ctx}/dk_connection.jspx">联系我们</a>
                    </span>
                </li>
            </ul>

             <div class="search_box">
                <form action="${ctx}/search.jspx" method="get">
                    <button type="submit" class="icon-search"></button>
                    <span class="ipt"><input type="text" name="q"></span>
                </form>
            </div>
           <span class="menu_btn" id="menu_btn">
                <i></i>
                <i></i>
                <i></i>
            </span> 
        </div>
    </div>
    <!--顶部菜单与logo end-->
    <!--通用顶部 end-->

<script type="text/javascript">
/**
	设置导航栏当前模块的下划线
*/
// 获取当前页面位置
[#if info??]
var nodeNumber = '${info.node.hierarchy[1].number}';
[#elseif node??]
	[#if node.treeLevel == 0]
	var nodeNumber = 'index';
	[#else]
	var nodeNumber = '${node.hierarchy[1].number}';
	[/#if]
[#elseif tag??]
	var nodeNumber = 'none';
[#elseif Param.q??]
	var nodeNumber = 'none';
[#else]
	var nodeNumber = 'about';
[/#if]
// 设置li的class属性为current，从而修改展示效果
setCurrent(nodeNumber);
function setCurrent(li) {
	switch(li) {
	case 'none':
		return;
	case 'recruit':
		li = 'about';
		break;
	default:
	}
	document.getElementById(li).setAttribute("class", "current");
}
</script>

</body>
</html>

[/#escape]
