[#escape x as (x)!?html]
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${site.fullNameOrName}</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/css/swiper.min.css">
    <link rel="stylesheet" href="_files/css/common.css">
    <link rel="stylesheet" href="_files/css/index.css">
</head>
<body>
    [#include 'head.html'/]
    <div class="swiper-container top_slide">
        <div class="swiper-wrapper">
        [@InfoList attr='focus' limit='4';list]
		[#list list as info]
            <div class="swiper-slide" style="background-image:url(${info.attrImageUrl})">
                <div class="over">
                    <div class="wrap">
                        <div class="text">
                            <p data-swiper-parallax="-2000"></p>
                            <p data-swiper-parallax="-4000">${substring(info.title,20,'...')}</p>
                            <a class="btn" href="${info.url}" title="${info.title}" data-swiper-parallax="-6000">查看更多</a>
                        </div>
                    </div>
                </div>
            </div>
          [/#list]
          [/@InfoList]  
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"><span></span></div>
        <div class="swiper-button-prev swiper-button-white"><span></span></div>
    </div>

    <div class="class">
        <div class="wrap">
            <div class="col_hd">
                <b class="tit">精品课程</b>
            </div>

            <div class="swiper-container class_slide">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="box">
                            <img src="http://a.36krcnd.com/nil_class/5c6f370b-7b95-4523-bc56-d68b3d5c9646/723391481827214996.jpg!feature" alt="">
                            <b>天知道,你根本不需要和别人比较</b>
                            <span class="num">999人已购买</span>
                            <a href="#"><span class="icon-cart"></span>购买</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="box">
                            <img src="http://a.36krcnd.com/nil_class/5c6f370b-7b95-4523-bc56-d68b3d5c9646/723391481827214996.jpg!feature" alt="">
                            <b>天知道,你根本不需要和别人比较</b>
                            <span class="num">999人已购买</span>
                            <a href="#"><span class="icon-cart"></span>购买</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="box">
                            <img src="http://a.36krcnd.com/nil_class/5c6f370b-7b95-4523-bc56-d68b3d5c9646/723391481827214996.jpg!feature" alt="">
                            <b>天知道,你根本不需要和别人比较</b>
                            <span class="num">999人已购买</span>
                            <a href="#"><span class="icon-cart"></span>购买</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="box">
                            <img src="http://a.36krcnd.com/nil_class/5c6f370b-7b95-4523-bc56-d68b3d5c9646/723391481827214996.jpg!feature" alt="">
                            <b>天知道,你根本不需要和别人比较</b>
                            <span class="num">999人已购买</span>
                            <a href="#"><span class="icon-cart"></span>购买</a>
                        </div>

                    </div>
                    <div class="swiper-slide">
                        <div class="box">
                            <img src="http://a.36krcnd.com/nil_class/5c6f370b-7b95-4523-bc56-d68b3d5c9646/723391481827214996.jpg!feature" alt="">
                            <b>天知道,你根本不需要和别人比较</b>
                            <span class="num">999人已购买</span>
                            <a href="#"><span class="icon-cart"></span>购买</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="box">
                            <img src="http://a.36krcnd.com/nil_class/5c6f370b-7b95-4523-bc56-d68b3d5c9646/723391481827214996.jpg!feature" alt="">
                            <b>天知道,你根本不需要和别人比较</b>
                            <span class="num">999人已购买</span>
                            <a href="#"><span class="icon-cart"></span>购买</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="box">
                            <img src="http://a.36krcnd.com/nil_class/5c6f370b-7b95-4523-bc56-d68b3d5c9646/723391481827214996.jpg!feature" alt="">
                            <b>天知道,你根本不需要和别人比较</b>
                            <span class="num">999人已购买</span>
                            <a href="#"><span class="icon-cart"></span>购买</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="box">
                            <img src="http://a.36krcnd.com/nil_class/5c6f370b-7b95-4523-bc56-d68b3d5c9646/723391481827214996.jpg!feature" alt="">
                            <b>天知道,你根本不需要和别人比较</b>
                            <span class="num">999人已购买</span>
                            <a href="#"><span class="icon-cart"></span>购买</a>
                        </div>
                    </div>
                </div>

                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>
        </div>
    </div>
    <div class="news">
        <div class="news_slide_wrap">
            <div class="swiper-container news_slide">
                <div class="swiper-wrapper">
                	[@Node number='courseList';node]	
                    [@InfoPage nodeId=node.id pageSize='6';pagedList]
                    [#list pagedList.content as info]
                    <div class="swiper-slide">
                        <img src="_files/upload/test1.jpg" alt=""><!--尺寸270x480-->
                        <span class="overlay"></span>
                        <div class="show_box">
                            <img src="${info.customs['photo']}" width="270" height="396" alt=""><!--270x396-->
                            <p>${info.title}</p>
                            <a href="${info.url}" class="btn">点击查看更多</a>
                        </div>
                    </div>
                     [/#list]
          		     [/@InfoPage]
          		     [/@Node]
                </div>

                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>
        </div>
        <div class="news_list">
            <div class="col_hd">
                <b class="tit">最新资讯</b>
                <a href="${info.url}" target="_blank">查看更多 <span class="icon-arrow-r"></span></a>
            </div>
            <ul class="list_main">
            	[@Node number='article';node]
				[@InfoList nodeId=node.id limit='2';list]
				[#list list as info]
                <li>
                    <a href="${info.url}">
                        <p><span class="text">◆ ${substring(info.title,18,'...')}</span></p>
                        <span class="time">${info.publishDate?string('yyyy-MM-dd')}</span>
                    </a>
                </li>
                [/#list]
				[/@InfoList]
				[/@Node]
				
				[@Node number='industry';node]
				[@InfoList nodeId=node.id limit='2';list]
				[#list list as info]
                <li>
                    <a href="${info.url}">
                        <p><span class="text">◆ ${substring(info.title,18,'...')}</span></p>
                        <span class="time">${info.publishDate?string('yyyy-MM-dd')}</span>
                    </a>
                </li>
                [/#list]
				[/@InfoList]
				[/@Node]
				
				[@Node number='lecture';node]
				[@InfoList nodeId=node.id limit='2';list]
				[#list list as info]
                <li>
                    <a href="${info.url}">
                        <p><span class="text">◆ ${substring(info.title,18,'...')}</span></p>
                        <span class="time">${info.publishDate?string('yyyy-MM-dd')}</span>
                    </a>
                </li>
                [/#list]
				[/@InfoList]
				[/@Node]
				
				[@Node number='case';node]
				[@InfoList nodeId=node.id limit='2';list]
				[#list list as info]
                <li>
                    <a href="${info.url}">
                        <p><span class="text">◆ ${substring(info.title,18,'...')}</span></p>
                        <span class="time">${info.publishDate?string('yyyy-MM-dd')}</span>
                    </a>
                </li>
                [/#list]
				[/@InfoList]
				[/@Node]
				
            </ul>
        </div>

    </div>

    <div class="test_col">
        <div class="wrap">
            <div class="col_hd">
                <h2>测测你是疯狂动物城里的谁？</h2>
                <a href="#" target="_blank">查看更多→</a>
            </div>
        </div>

        <div class="swiper-container test_slide">
            <div class="swiper-wrapper">
              
               [@Node number='test';node]
				[@InfoList nodeId=node.id limit='10';list]
				[#list list as info]
                <div class="swiper-slide">
                    <span class="pic"><img src="${info.smallImage}" alt=""><span class="over"></span></span>
                    <b> <span class="view">
                          <span id="info_views">${info.bufferViews}</span>
                         </span>人已测试</b>
                    <a href="#" target="_blank" class="btn">开始测试</a>
                </div>
                [/#list]
				[/@InfoList]
				[/@Node]
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"><span class="icon-double-arrow-r"></span></div>
            <div class="swiper-button-prev swiper-button-white"><span class="icon-double-arrow-l"></span></div>
        </div>

    </div>

    <div class="fm">
        <div class="wrap">
            <div class="col_hd">
                <b class="tit">心灵FM</b>
                <a href="#" target="_blank">查看更多→</a>
            </div>

            <ul class="fm_list">
                <li>
                    <a href="#">
                        <div class="box">
                            <div class="img_box">
                                <img src="_files/upload/fm_test.jpg" alt="" class="fm_img"><!--尺寸270x344-->
                                <img src="_files/css/img/fm_over_light.png" alt="" class="over_light over">
                                <img src="_files/css/img/fm_over_dark.png" alt="" class="over_dark over">
                            </div>
                        </div>
                        <b>交友不必攀援</b>
                        <div class="info">
                            <span>
                                <em class="icon-view"></em>
                                <i>222222</i>
                            </span>
                            <span>
                                <em class="icon-share"></em>
                                <i>222222</i>
                            </span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="box">
                            <div class="img_box">
                                <img src="_files/upload/fm_test.jpg" alt="" class="fm_img"><!--尺寸270x344-->
                                <img src="_files/css/img/fm_over_light.png" alt="" class="over_light over">
                                <img src="_files/css/img/fm_over_dark.png" alt="" class="over_dark over">
                            </div>
                        </div>
                        <b>交友不必攀援</b>
                        <div class="info">
                            <span>
                                <em class="icon-view"></em>
                                <i>222222</i>
                            </span>
                            <span>
                                <em class="icon-share"></em>
                                <i>222222</i>
                            </span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="box">
                            <div class="img_box">
                                <img src="_files/upload/fm_test.jpg" alt="" class="fm_img"><!--尺寸270x344-->
                                <img src="_files/css/img/fm_over_light.png" alt="" class="over_light over">
                                <img src="_files/css/img/fm_over_dark.png" alt="" class="over_dark over">
                            </div>
                        </div>
                        <b>交友不必攀援</b>
                        <div class="info">
                            <span>
                                <em class="icon-view"></em>
                                <i>222222</i>
                            </span>
                            <span>
                                <em class="icon-share"></em>
                                <i>222222</i>
                            </span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="box">
                            <div class="img_box">
                                <img src="_files/upload/fm_test.jpg" alt="" class="fm_img"><!--尺寸270x344-->
                                <img src="_files/css/img/fm_over_light.png" alt="" class="over_light over">
                                <img src="_files/css/img/fm_over_dark.png" alt="" class="over_dark over">
                            </div>
                        </div>
                        <b>交友不必攀援</b>
                        <div class="info">
                            <span>
                                <em class="icon-view"></em>
                                <i>222222</i>
                            </span>
                            <span>
                                <em class="icon-share"></em>
                                <i>222222</i>
                            </span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="teachers">
        <div class="wrap">
            <div class="col_hd">
                <b class="tit">师资力量</b>
                [@Node number='teacherManager';node]
                <a href="${node.url}" target="_blank">查看更多→</a>
                [/@Node]
            </div>

            <div class="teacher_list clearfix">
            	[@NodeList parent='teacherManager';list]
				 [#list list as node]
                [@InfoPage nodeId=node.id pageSize='3';pagedList]
                <ul class="list_box clearfix">
                  [#list pagedList.content as info]
                    <li>
                        <a href="${info.url}">
                            <img src="${info.customs['teacherPhoto']}" alt="">
                            <div class="words">
                                <b>${info.customs['teacherName']}</b>
                                <p class="info">${info.customs['teacherZc']}</p>
                                <p class="summary">${info.customs['teacherIntroduction']}</p>
                            </div>
                        </a>
                    </li>
                   [/#list]
                </ul>
                [/@InfoPage]
                 [/#list]
                 [/@NodeList]
            </div>

        </div>
    </div>

[#include 'end.html'/]



<script src="_files/js/jquery-1.9.1.min.js"></script>
<script src="_files/js/swiper.min.js"></script>
<script src="_files/js/common.js"></script>
<script>
    var top_slide = new Swiper('.top_slide', {
        loop:true,
        pagination: '.top_slide .swiper-pagination',
        paginationClickable: true,
        nextButton: '.top_slide .swiper-button-next',
        prevButton: '.top_slide .swiper-button-prev',
        autoplay: 4000,
        speed:1000,
        autoplayDisableOnInteraction: false,
        parallax:true
    });

    var class_slide = new Swiper('.class_slide', {
        slidesPerView: 4,
        nextButton: '.class_slide .swiper-button-next',
        prevButton: '.class_slide .swiper-button-prev',
        spaceBetween: 10
    });

    var news_slide = new Swiper('.news_slide', {
        slidesPerView: 'auto',
        nextButton: '.news_slide .swiper-button-next',
        prevButton: '.news_slide .swiper-button-prev',
        spaceBetween: 0
    });

    var default_test_slide_num=Math.floor($(".test_slide .swiper-slide").length/2);
    var test_slide = new Swiper('.test_slide', {
        slidesPerView: 5,
        speed:0,
        centeredSlides: true,
        nextButton: '.test_slide .swiper-button-next',
        prevButton: '.test_slide .swiper-button-prev',
        spaceBetween: 20,onSlideChangeEnd: function(swiper){
            test_slide.update(true);
        }
    });

    test_slide.slideTo(default_test_slide_num, 1000, false);
    test_slide.update(true);
</script>

</body>

</html>
[/#escape]
