[#escape x as (x)!?html]
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>陕西大康心理培训学校|西安心理咨询师培训学校|西安心理咨询师考试|陕西心理咨询师2/3级考试</title>
    <meta name="keywords" content="大康心理学校,陕西心理咨询,西安心理咨询,陕西心理咨询师培训,西安心理咨询师培训,陕西心理咨询师考试,西安心理咨询师考试,陕西心理咨询师2/3级考试">
	<meta name="description" content="陕西大康心理培训学校-心理咨询师培训学校是一家专门从事西安心理咨询师考试培训的学校，多年来为众多心理咨询师爱好者提供了所需的心理咨询师培训考试知识，是目前西安最好的心理学考证培训机构,始终坚持以“关怀国人精神，诠释心理力量”为神圣使命为国人服务。">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="webkit" name="renderer" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/css/swiper.min.css">
    <link rel="stylesheet" href="_files/css/common.css">
    <link rel="stylesheet" href="_files/css/index.css">
    [#include 'common_head.html'/]
</head>
<body>
    [#include 'head.html'/]
    [#include 'index_poster.html']
    <div class="class">
        <div class="wrap">
            <div class="col_hd">
                <b class="tit">精品课程</b>
            </div>

            <div class="swiper-container class_slide">
                <div class="swiper-wrapper">
                   [@SpecialList isRecommend=1 limit='6'; specList] 
                 	[#list specList as info]
                    <div class="swiper-slide">
                        <div class="box">
                            <img src="${info.smallImage}" alt=""/>
                            <b>${info.title}</b>
                            <span class="num">56人已购买</span>
                            <a href="${ctx}/special/${info.id}.jspx"><span class="icon-cart"></span>￥${info.customs['price']}</a>
                        </div>
                    </div>
                    [/#list]
                    [/@SpecialList]
                    
                </div>

                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>
        </div>
    </div>
    
    <div class="news">
        <div class="news_slide_wrap">
            <div class="swiper-container news_slide">
                <div class="swiper-wrapper">
                	[@InfoList attr='focus' limit='8';list]
                	[#list list as info]
                    <div class="swiper-slide">
                        <img src="${info.attrImageUrl}" width="270" height="480" alt=""><!--尺寸270x480-->
                        <span class="overlay"></span>
                        <div class="show_box">
                            <img src="${info.attrImageUrl}" alt=""><!--270x480-->
                            <div class="bt">
	                            <p>${info.title}</p>
	                            <a href="${info.url}" class="btn">点击查看更多</a>
                            </div>
                        </div>
                    </div>
                     [/#list]
          		     [/@InfoList]
                </div>

                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>
        </div>
        
    <!-- 最新资讯 start -->
        <div class="news_list">
            <div class="col_hd">
                <b class="tit">最新资讯</b>
                <a href="${ctx}/list_new_news.jspx" target="_blank">查看更多 <span class="icon-arrow-r"></span></a>
            </div>
            <ul class="list_main">
            	[@InfoList node='news' isIncludeChildren='true' limit='8';list]
                  	[#list list as info]
                <li>
                    <a href="${info.url}">
                        <p><span class="text">◆ ${substring(info.title,18,'...')}</span></p>
                        <span class="time">${info.publishDate?string('yyyy-MM-dd')}</span>
                    </a>
                </li>
                [/#list]
				[/@InfoList]
            </ul>
        </div>
    </div>
    <!-- 最新资讯 end -->

    
   <style>
    	.col_hd h2{display: none;}
    </style>
    <div class="test_col">
        <div class="wrap">
       		<div class="col_hd col_hd_h2">
       			
       			[#assign sIndex=1/]
                [@Node number='test';node]
                [@InfoList nodeId=node.id limit='10';list]
				[#list list as info]
                	<h2 class="col_hd_${sIndex}">${info.title}</h2>
					[#assign sIndex=sIndex+1/]                
                 [/#list]
               [/@InfoList]
               	 <a href="${node.url}" target="_blank">查看更多→</a>
                [/@Node]
            </div>   
        </div>

        <div class="swiper-container test_slide" style="height:370px;">
            <div class="swiper-wrapper">
               [#assign sIndex=1/]
               [@Node number='test';node]
				[@InfoList nodeId=node.id limit='10';list]
				[#list list as info]
               
                <div class="swiper-slide" data-id="swiper-slide_${sIndex}">	
                    <span class="pic">				
					<img src="${info.smallImage}" alt=""><span class="over"></span></span>
                    <b> <span class="view">
                          <span id="info_views">${info.bufferViews}</span>
                         </span>人已测试
                    </b>
                    <a href="${info.url}" target="_blank" class="btn">开始测试</a>
                </div>
                [#assign sIndex=sIndex+1/] 
                [/#list]
				[/@InfoList]
				[/@Node]
                
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"><span class="icon-double-arrow-r"></span></div>
            <div class="swiper-button-prev swiper-button-white"><span class="icon-double-arrow-l"></span></div>
        </div>

    </div>
    
    [#include 'index_FM.html']
    <div class="teachers">
        <div class="wrap">
            <div class="col_hd">
                <b class="tit">师资力量</b>
                [@Node number='teacherManager';node]
                <a href="${node.url}" target="_blank">查看更多→</a>
                [/@Node]
            </div>

            <div class="teacher_list clearfix">
            	[@NodeList parent='teacherManager';list]
				 [#list list as node]
                [@InfoPage nodeId=node.id pageSize='3';pagedList]
                <ul class="list_box clearfix">
                  [#list pagedList.content as info]
                    <li>
                        <a href="${info.url}">
                            <img src="${info.customs['teacherPhoto']}" alt="">
                            <div class="words">
                            	<!--教师姓名 -->
                                <b>${info.title}</b>
                                <p class="info">${info.customs['teacherZc']}</p>
                                <p class="summary">${info.customs['informationSummary']}</p>
                            </div>
                        </a>
                    </li>
                   [/#list]
                </ul>
                [/@InfoPage]
                 [/#list]
                 [/@NodeList]
            </div>

        </div>
    </div>

<script src="_files/js/jquery-1.9.1.min.js"></script>
<script src="_files/js/swiper.min.js"></script>
<script src="_files/js/common.js"></script>
<script>
    var top_slide = new Swiper('.top_slide', {
        loop:true,
        pagination: '.top_slide .swiper-pagination',
        paginationClickable: true,
        nextButton: '.top_slide .swiper-button-next',
        prevButton: '.top_slide .swiper-button-prev',
        autoplay: 4000,
        speed:1000,
        autoplayDisableOnInteraction: false,
        parallax:true
    });

    var class_slide = new Swiper('.class_slide', {
        slidesPerView: 4,
        nextButton: '.class_slide .swiper-button-next',
        prevButton: '.class_slide .swiper-button-prev',
        spaceBetween: 10
    });

    var news_slide = new Swiper('.news_slide', {
        slidesPerView: 'auto',
        nextButton: '.news_slide .swiper-button-next',
        prevButton: '.news_slide .swiper-button-prev',
        spaceBetween: 0
    });

    var default_test_slide_num=Math.floor($(".test_slide .swiper-slide").length/2);
    var test_slide = new Swiper('.test_slide', {
        slidesPerView: 5,
        speed:0,
        centeredSlides: true,
        nextButton: '.test_slide .swiper-button-next',
        prevButton: '.test_slide .swiper-button-prev',
        spaceBetween: 20,onSlideChangeEnd: function(swiper){
        	$(".col_hd_h2 h2").hide();
	    	var active = $(".test_slide .swiper-slide-active").attr("data-id");
	    	var sp = active.split("_");
	    	$(".col_hd_" + sp[1]).show();
            test_slide.update(true);
        }
    });

    test_slide.slideTo(default_test_slide_num, 1000, false);
    test_slide.update(true);

    //初始化
    $(function(){
    	var active = $(".test_slide .swiper-slide-active").attr("data-id");
    	var sp = active.split("_");
    	$(".col_hd_" + sp[1]).show();
    })
</script>
[#include 'end.html'/]
</body>

</html>
[/#escape]
