[#escape x as (x)!?html]
<div class="fm">
        <div class="wrap">
            <div class="col_hd">
            	 [@Node number='FM';node]
                <b class="tit">${node.name}</b>
                <a href="${node.url}" target="_blank">查看更多→</a>
             	 [/@Node]
            </div>
            <ul class="fm_list">
               [@InfoList node='FM' limit='4';list]
				[#list list as info]
                <li>
                    <a href="${info.url}">
                        <div class="box">
                            <div class="img_box">
                                <img src="${info.customs['FMPhoto']}" alt="" class="fm_img"><!--尺寸270x344-->
                                <img src="_files/css/img/fm_over_light.png" alt="" class="over_light over">
                                <img src="_files/css/img/fm_over_dark.png" alt="" class="over_dark over">
                            </div>
                        </div>
                        <b>${info.title}</b>
                        <div class="info" style="display:none">
                            <span>
                                <em class="icon-view"></em>
                                <i></i>
                            </span>
                            <span>
                                <em class="icon-share"></em>
                                <i></i>
                            </span>
                        </div>
                    </a>
                </li>
				[/#list]
              [/@InfoList]
            </ul>
        </div>
    </div>
[/#escape]