[#escape x as (x)!?html]
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>${title}-${node.name}-陕西大康心理培训学校</title>
<meta name="keywords" content="${title}">
<meta name="description" content="">
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="_files/css/swiper.min.css">
<link rel="stylesheet" href="_files/css/common.css">
<link rel="stylesheet" href="_files/css/detail.css">
</head>
<body>
	[#include 'head.html'/]
	 
    <div class="wrap wrap_910">
        <div class="teacher_detail">
            <div class="t_pic">
                <img src="${info.customs['teacherPhoto']}" width="180" height="260" alt=""><!--尺寸180x260-->
                <a href="javascript:ib_wopen();" class="btn">预约咨询</a>
            </div>
            <div class="t_detail">
            	<!-- title=教师姓名 -->
                <b>${info.title}</b>
                <!-- 教师荣誉 -->
                <div class="summary">
                    <p>[#noescape]${info.customs['teacherZc']!}[/#noescape]</p>
                </div>
				<!-- 教师简介 -->                
                <div class="detail">
                    <p>[#noescape]${info.customs['teacherIntroduction']!}[/#noescape]</p>
                </div>
            </div>
        </div>
    </div>

	[#include 'end.html'/]
</body>
</html>
[/#escape]
