[#escape x as (x)!?html]
	
		[#if node.name=="心理测试" ]
		 [@Node number='test';node]
            <div class="sidebar">
                <div class="side_tit">
                    <b>最热</b>
                    <a href="${node.url}">查看更多心理测试</a>
                </div>
                <div class="hot_tests">
                [@InfoList nodeId=node.id  limit='5';list]
				[#list list as info]
                    <div class="box">
                        <a href="${info.url}">
                            <img src="${info.smallImageUrl}" width="150" height="105" alt=""><!--尺寸120x174-->
                            <span>${info.title}</span>
                        </a>
                    </div>
                    [/#list]
                    [/@InfoList]
                </div>
            </div>
             [/@Node]	
             
		[#elseif node.name=="文章精选"]
		
		[@Node number='article';node]
            <div class="sidebar">
                <div class="side_tit">
                    <b>最热</b>
                    <a href="${node.url}">查看更多热门文章</a>
                </div>
                <div class="hot_tests">
                [@InfoList nodeId=node.id  limit='5';list]
				[#list list as info]
                    <div class="box">
                        <a href="${info.url}">
                            <img src="${info.smallImageUrl}" width="150" height="105" alt=""><!--尺寸120x174-->
                            <b>${info.title}</b>
                            <!-- 
                            <span>${substring(info.description,40,'...')}</span>
                             -->
                        </a>
                    </div>
                    [/#list]
                    [/@InfoList]
                </div>
			</div>
             [/@Node]
             
             
		[#elseif node.name=="行业资讯"]
		[@Node number='industry';node]
            <div class="sidebar">
                <div class="side_tit">
                    <b>最热</b>
                    <a href="${node.url}">查看更多热门资讯</a>
                </div>
                <div class="hot_tests">
                [@InfoList nodeId=node.id  limit='5';list]
				[#list list as info]
                    <div class="box">
                        <a href="${info.url}">
                            <img src="${info.smallImageUrl}" width="150" height="105" alt=""><!--尺寸120x174-->
                            <b>${info.title}</b>
                            <!-- 
                            <span>${substring(info.description,40,'...')}</span>
                             -->
                        </a>
                    </div>
                    [/#list]
                    [/@InfoList]
                </div>
			</div>
             [/@Node]
             
        [#elseif node.name=="沙龙讲座"]
		[@Node number='article';node]
            <div class="sidebar">
                <div class="side_tit">
                    <b>最热</b>
                    <a href="${node.url}">查看更多热门文章</a>
                </div>
                <div class="hot_tests">
                [@InfoList nodeId=node.id  limit='5';list]
				[#list list as info]
                    <div class="box">
                        <a href="${info.url}">
                            <img src="${info.smallImageUrl}" width="150" height="105" alt=""><!--尺寸120x174-->
                            <b>${info.title}</b>
                            <!-- 
                            <span>${substring(info.description,40,'...')}</span>
                             -->
                        </a>
                    </div>
                    [/#list]
                    [/@InfoList]
                </div>
            </div>
             [/@Node] 
        
        
        [#elseif node.name=="案例分享"]
		[@Node number='case';node]
            <div class="sidebar">
                <div class="side_tit">
                    <b>最热</b>
                    <a href="${node.url}">查看更多热门案例</a>
                </div>
               	 <div class="hot_tests">
                [@InfoList nodeId=node.id  limit='5';list]
				[#list list as info]
                    <div class="box">
                        <a href="${info.url}">
                            <img src="${info.smallImageUrl}" width="150" height="105" alt=""><!--尺寸120x174-->
                            <b>${info.title}</b>
                            <!-- 
                            <span>${substring(info.description,40,'...')}</span>
                             -->
                        </a>
                    </div>
                    [/#list]
                    [/@InfoList]
                </div>
                </div>
             [/@Node] 
             
		[/#if]
			
[/#escape]
