[#escape x as (x)!?html]
	 
        <!-- 心理测试右侧：心理咨询师 -->
		[#if node.number=="test"]
				 <div class="sidebar">
                <div class="side_tit">
                    [@Node number='consultationTeacher';node]
                   		<b>${node.name}</b>
                        <a href="${node.url}">>查看更多名师</a>
                     	[/@Node]
                </div>
            
                <div class="proficients">
                    [@Node number='consultationTeacher';node]   
					[@InfoList nodeId=node.id  limit='5';list]
					[#list list as info]
                    <div class="box">
                        <a href="${info.url}">
                            <img src="${info.customs['teacherPhoto']}"  width="120" height="174" alt=""><!--尺寸120x174-->
                            <b>${info.title}</b>
                            <span>[#noescape]${info.customs['teacherZc']!}[/#noescape]</span>
                        </a>
                    </div>
                    [/#list]
                    [/@InfoList]
                    [/@Node]
                </div>
               
            </div>
		
		<!-- 心理咨询右侧：心理测试 -->
		[#elseif node.number=="consultationTeacher" || node.number=="teacherManager"]
				 [@Node number='test';node]
            <div class="sidebar">
                <div class="side_tit">
                    <b>最热</b>
                    <a href="${node.url}">查看更多测试</a>
                </div>
              <div class="hot_tests">
              [@InfoList nodeId=node.id limit='5';list]
				[#list list as info]
                    <div class="box">
                        <a href="${info.url}">
                            <img src="${info.smallImage}" alt=""><!--尺寸120x174-->
                            <b>${info.title}</b>
                        </a>
                    </div>
                     [/#list]
                  [/@InfoList]
             </div>
             <!-- 广告 -->
             <div class="adv">
                 <img src="_files/img/shizililiang.png" alt="">
             </div>
            </div>
             [/@Node]
        [#else]
		<!-- 其余右侧：最新课程 -->
        <div class="sidebar">
                <div class="side_tit">
                    <b>精品课程</b>
                    <a href="${ctx}/specials.jspx">查看更多课程</a>
                </div>
                <div class="hot_lessons">
                [@SpecialPage specialId=Param.specialId pageSize='4';pagedList]
                	[#list pagedList.content as course]
                    <div class="box">
                        <img src="${course.smallImage}" alt=""><!--尺寸330x200-->
                        <b>${course.title}</b>
                        <div class="price_bar">
                            <strong>¥${course.customs['price']}</strong>
                            <span>已有<i>${course.soldCount!0}</i>人购买该课程</span>
                        </div>
                        <a href="${ctx}/special/${course.id}.jspx" class="buy_btn">购买</a>
                    </div>
                    [/#list]
				[/@SpecialPage]
            	</div>
        </div>
		[/#if]

[/#escape]