[#escape x as (x)!?html]
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${node.name}[#if node.parent??]_${node.parent.name}[/#if]_${site.fullNameOrName}${global.customs['poweredby']}</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/css/swiper.min.css">
    <link rel="stylesheet" href="_files/css/common.css">
    <link rel="stylesheet" href="_files/css/list.css">
    [#include 'inc_js.html'/]
</head>
<body>

	 [#include 'head.html'/]
	 
    <div class="wrap">
        <h1 class="com_tit">${node.name}</h1>
        <div class="ct">
            <div class="main">
               [@InfoPage nodeId=node.id pageSize='6';pagedList]
                <ul class="post_list">
                  	[#list pagedList.content as info]
                    <li>
                        <a href="${info.url}">
                            <img src="${info.smallImageUrl}" alt="" width="235" height="160"><!--尺寸235x160-->
                            <div class="wd" >
                                <b>${info.title}</b>
                                <p>${substring(info.description,80,'...')}</p>
                            </div>
                            <span class="view">
                                <i class="icon-view2"></i>
                                <span id="info_views${info.id}"></span>
                            </span>
                            <script type="text/javascript">
						$("#info_views${info.id}").load("${dy}/info_views/${info.id}.jspx?d=");
					</script>
                        </a>
                    </li>
                    [/#list]
                </ul>
                [/@InfoPage]
                <div class="more_btn">
                    <a href="javascript:;">查看更多文章 <span class="icon-double-arrow-d"></span></a>
                </div>
            </div>
            
            
            <div class="sidebar">

                <div class="side_tit">
                    <b>心理咨询专家</b>
                  	[@Node id='110';node]
                        <a href="${node.url}">>查看更多名师</a>
                     	[/@Node]
                </div>
			[@InfoList nodeId='111'  limit='5';list]
			[#list list as info]
                <div class="proficients">
                    <div class="box">
                        <a href="${info.url}">
                            <img src="${info.customs['teacherPhoto']}" alt=""><!--尺寸120x174-->
                            <b>${info.customs['teacherName']}</b>
                            <span>[#noescape]${info.customs['teacherZc']}[/#noescape]</span>
                        </a>
                    </div>
                </div>
				[/#list]
				[/@InfoList]

                <div class="adv">
                    <img src="http://static.googleadsserving.cn/pagead/imgad?id=CICAgKDTz5r2_AEQrAIY-gEyCK0uvp3cER15" alt="">
                </div>
            </div>
        </div>
    </div>

  [#include 'end.html'/]

</body>
<script src="_files/js/jquery-1.9.1.min.js"></script>
<script src="_files/js/common.js"></script>
</html>
[/#escape]