[#escape x as (x)!?html]
	 
        <!-- 心理测试右侧：心理咨询师 -->
		[#if node.number=="test"]
				 <div class="sidebar">
                <div class="side_tit">
                    [@Node number='consultationTeacher';node]
                   		<b>${node.name}</b>
                        <a href="${node.url}">>查看更多名师</a>
                     	[/@Node]
                </div>
            
                <div class="proficients">
                    [@Node number='consultationTeacher';node]   
					[@InfoList nodeId=node.id  limit='5';list]
					[#list list as info]
                    <div class="box">
                        <a href="${info.url}">
                            <img src="${info.customs['teacherPhoto']}"  width="120" height="174" alt=""><!--尺寸120x174-->
                            <b>${info.title}</b>
                            <span>[#noescape]${info.customs['teacherZc']!}[/#noescape]</span>
                        </a>
                    </div>
                    [/#list]
                    [/@InfoList]
                    [/@Node]
                </div>
               
            </div>
		
		<!-- 心理咨询右侧：心理测试 -->
		[#elseif node.number=="consultationTeacher" || node.number=="teacherManager"]
				 [@Node number='test';node]
            <div class="sidebar">
                <div class="side_tit">
                    <b>最热</b>
                    <a href="${node.url}">查看更多测试</a>
                </div>
              <div class="hot_tests">
              [@InfoList nodeId=node.id limit='5';list]
				[#list list as info]
                    <div class="box">
                        <a href="${info.url}">
                            <img src="${info.smallImage}" alt=""><!--尺寸120x174-->
                            <b>${info.title}</b>
                        </a>
                    </div>
                     [/#list]
                  [/@InfoList]
             </div>
             <!-- SEO要求 暂时隐藏广告 -->
             <div class="adv" style="display:none">
                 <img src="_files/img/shizililiang.png" alt="">
             </div>
            </div>
             [/@Node]
        [#else]
		<!-- 其余右侧：最新课程 -->
        <div class="sidebar">
                <div class="side_tit">
                    <b>精品课程</b>
                    <a href="#">查看更多课程</a>
                </div>
                <div class="hot_lessons">
                    <div class="box">
                        <img src="_files/img/p1-kqcc.jpg" alt=""><!--尺寸330x200-->
                        <b>三天搞懂所有考点</b>
                        <div class="price_bar">
                            <strong>¥ 399</strong>
                            <span>已有<i>56</i>人购买该课程</span>
                        </div>
                        <a href="#" class="buy_btn">敬请期待</a>
                    </div>
                    <div class="box">
                        <img src="_files/img/p2-fzxlx.jpg" alt=""><!--尺寸330x200-->
                        <b>发展心理学:读懂孩子到青少年</b>
                        <div class="price_bar">
                            <strong>¥ 199</strong>
                            <span>已有<i>29</i>人购买该课程</span>
                        </div>
                        <a href="#" class="buy_btn">敬请期待</a>
                    </div>
                    <div class="box">
                        <img src="_files/img/p3-shxlx.jpg" alt=""><!--尺寸330x200-->
                        <b>社会心理学</b>
                        <div class="price_bar">
                            <strong>¥ 299</strong>
                            <span>已有<i>119</i>人购买该课程</span>
                        </div>
                    	<a href="#" class="buy_btn">敬请期待</a>
                	</div>
                	<div class="box">
                        <img src="_files/img/p4-yjzx.jpg" alt=""><!--尺寸330x200-->
                        <b>领袖心理课易经的真相</b>
                        <div class="price_bar">
                            <strong>¥ 299</strong>
                            <span>已有<i>69</i>人购买该课程</span>
                        </div>
                    	<a href="#" class="buy_btn">敬请期待</a>
                	</div>
            	</div>
        </div>
		[/#if]

[/#escape]