[#escape x as (x)!?html]
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${node.name}</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/css/swiper.min.css">
    <link rel="stylesheet" href="_files/css/common.css">
    <link rel="stylesheet" href="_files/css/list.css">
</head>
<body>
      [#include 'head.html'/]
    <div class="wrap">
        <h1 class="com_tit">${node.name}</h1>
        <div class="ct">
            <div class="main">
                 
                <ul class="teacher_list">
                  	[@InfoList node='teacherManager' isIncludeChildren='true' limit='5';list]
					[#list list as info]
                    <li>
                        <a href="${info.url}">
                            <img src="${info.customs['teacherPhoto']}" width="110" height="160" alt=""><!--尺寸110x160 同专家图片尺寸比例相同,可复用-->
                            <div class="wd">
                                <b>	${info.title}</b>
                                <span>${info.customs['teacherZc']}</span>
                                <p>${info.customs['informationSummary']}</p>
                            </div>
                        </a>
                        
                    </li>
 					[/#list]	
					[/@InfoList]
                </ul>
               
               
                <div class="more_btn">
                    <a href="javascript:;">查看更多文章 <span class="icon-double-arrow-d"></span></a>
                </div>
            </div>



             [@Node number='test';node]
            <div class="sidebar">
                <div class="side_tit">
                    <b>最热</b>
                    <a href="${node.url}">查看更多心理测试</a>
                </div>
                
                
                <div class="proficients">
                <div class="hot_tests">
                [@InfoList nodeId=node.id  limit='5';list]
				[#list list as info]
                    <div class="box">
                        <a href="${info.url}">
                            <img src="${info.smallImageUrl}" width="150" height="104" alt=""><!--尺寸120x174-->
                            <b>${info.title}</b>
                            <span>${substring(info.description,40,'...')}</span>
                        </a>
                    </div>
                    [/#list]
                    [/@InfoList]
                </div>
</div>
            </div>
             [/@Node]
        </div>
    </div>




 [#include 'end.html'/]
</body>
<script src="_files/js/jquery-1.9.1.min.js"></script>
<script src="_files/js/common.js"></script>
</html>
[/#escape]