[#escape x as (x)!?html]
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${node.name}-陕西大康心理培训学校</title>
    <meta name="keywords" content="">
	<meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/css/swiper.min.css">
    <link rel="stylesheet" href="_files/css/common.css">
    <link rel="stylesheet" href="_files/css/list.css">
</head>
<body>
      [#include 'head.html'/]
    <div class="wrap">
        <h1 class="com_tit">${node.name}</h1>
        <div class="ct">
            <div class="main">
                 
                <ul class="teacher_list">
                  	[@InfoList node='teacherManager' isIncludeChildren='true' limit='10';list]
					[#list list as info]
                    <li>
                        <a href="${info.url}">
                            <img src="${info.customs['teacherPhoto']}" width="110" height="160" alt=""><!--尺寸110x160 同专家图片尺寸比例相同,可复用-->
                            <div class="wd">
                                <b>	${info.title}</b>
                                <span>${info.customs['teacherZc']}</span>
                                <p>${info.customs['informationSummary']}</p>
                            </div>
                        </a>
                        
                    </li>
 					[/#list]	
					[/@InfoList]
					<!-- 记录已展示记录的offset -->
	                <div id="offset" style="display:none">9</div>
	                <div id="show_more_list"></div>
                </ul>
               
               
                <div class="more_btn">
                    <a href="javascript:loadMore('${dy}', ${node.id}, 'info');" class="get_more">查看更多名师 <span class="icon-double-arrow-d"></span></a>
                </div>
            </div>

[#include 'list_news_right.html'/]

		</div>
	</div>

[#include 'end.html'/]
</body>
<script src="_files/js/jquery-1.9.1.min.js"></script>
<script src="_files/js/common.js"></script>
<script src="_files/js/common-dev.js"></script>
<script type="text/javascript">
	// 生成单条记录
	function getOneRecordHTML(infoObj) {
		var html = '<li><a href="'+infoObj.url+'">';
		html += '<img src="'+infoObj.customs["teacherPhoto"] + '" width="110" height="160" alt="">';
        html += '<div class="wd"><b>' + infoObj.title + '</b>';
        html += '<span>'+infoObj.customs["teacherZc"]+'</span>';
        html += '<p>' + infoObj.customs["informationSummary"] + '</p></div></a></li>';
        return html;
	}
</script>
</html>
[/#escape]