[#escape x as (x)!?html]
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${node.name}_${site.name}${global.customs['poweredby']}</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/css/swiper.min.css">
    <link rel="stylesheet" href="_files/css/common.css">
    <link rel="stylesheet" href="_files/css/list.css">
</head>
<body>
      [#include 'head.html'/]
    <div class="wrap">
        <h1 class="com_tit">${node.name}</h1>
        <div class="ct">
            <div class="main">
               [@InfoPage nodeId=node.id pageSize='15';pagedList]
                <ul class="thumb_list">
                  [#list pagedList.content as info]
                    <li>
                        <a href="${info.url}">
                            <img src="${info.customs['photo']}" alt="" width="735" height="363"><!--尺寸735x363-->
                            <b>${info.title}</b>
                        </a>
                    </li>
                [/#list]
                </ul>
                [/@InfoPage]
                <div class="more_btn">
                    <a href="javascript:;">查看更多文章 <span class="icon-double-arrow-d"></span></a>
                </div>
            </div>



            <div class="sidebar">
                <div class="side_tit">
                    <b>名师</b>
                    <a href="#">查看更多名师</a>
                </div>
                <div class="proficients">
                    <div class="box">
                        <a href="#">
                            <img src="upload/proficient_test.jpg" alt=""><!--尺寸120x174-->
                            <b>怎么确定自己真的恋爱了</b>
                            <span>临床心理治疗专家</span>
                            <span>心理教育家</span>
                            <span>国内著名心理产业化开拓者</span>
                        </a>
                    </div>
                    <div class="box">
                        <a href="#">
                            <img src="_files/upload/proficient_test.jpg" alt=""><!--尺寸120x174-->
                            <b>怎么确定自己真的恋爱了</b>
                            <span>临床心理治疗专家</span>
                            <span>心理教育家</span>
                            <span>国内著名心理产业化开拓者</span>
                        </a>
                    </div>
                    <div class="box">
                        <a href="#">
                            <img src="_files/upload/proficient_test.jpg" alt=""><!--尺寸120x174-->
                            <b>怎么确定自己真的恋爱了</b>
                            <span>临床心理治疗专家</span>
                            <span>心理教育家</span>
                            <span>国内著名心理产业化开拓者</span>
                        </a>
                    </div>
                    <div class="box">
                        <a href="#">
                            <img src="_files/upload/proficient_test.jpg" alt=""><!--尺寸120x174-->
                            <b>怎么确定自己真的恋爱了</b>
                            <span>临床心理治疗专家</span>
                            <span>心理教育家</span>
                            <span>国内著名心理产业化开拓者</span>
                        </a>
                    </div>
                    <div class="box">
                        <a href="#">
                            <img src="_files/upload/proficient_test.jpg" alt=""><!--尺寸120x174-->
                            <b>怎么确定自己真的恋爱了</b>
                            <span>临床心理治疗专家</span>
                            <span>心理教育家</span>
                            <span>国内著名心理产业化开拓者</span>
                        </a>
                    </div>
                </div>


                <div class="adv">
                    <img src="http://static.googleadsserving.cn/pagead/imgad?id=CICAgKDTz5r2_AEQrAIY-gEyCK0uvp3cER15" alt="">
                </div>
            </div>
        </div>
    </div>



 [#include 'end.html'/]
</body>
<script src="_files/js/jquery-1.9.1.min.js"></script>
<script src="_files/js/common.js"></script>
</html>
[/#escape]