<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>大康</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="webkit" name="renderer" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/ucenter.css">
</head>
<body>

    <!--通用顶部 start-->

    <!--顶部菜单与logo start-->
    <div class="header">
        <div class="wrap">
            <span class="menu_btn" id="menu_btn">
                <i></i>
                <i></i>
                <i></i>
            </span>
            <span class="logo">
                <a href="#">
                    <img src="css/img/logo.png" alt="">
                </a>
            </span>
            <ul class="menu clearfix">
                <li><a href="#">首页</a></li>
                <li><a href="#">线下课程</a></li>
                <li><a href="#">网络课程</a></li>
                <li><a href="#">领袖心理课</a></li>
                <li><a href="#">在线报名</a></li>
                <li><a href="#">文库题库</a></li>
                <li><a href="#">学习中心</a></li>
            </ul>
            <div class="search_box">
                <form action="">
                    <button type="submit" class="icon-search"></button>
                    <span class="ipt"><input type="text" placeholder="输入搜索内容"></span>
                </form>
            </div>
            <!--登陆前start-->
            <!--<div class="login_box">-->
                <!--<a href="#">登陆</a>-->
                <!--<a href="#">注册</a>-->
            <!--</div>-->
            <!--登陆前end-->
            <!--登陆后start-->
            <div class="logined_box">
                <span class="u_head"><img src="http://tva1.sinaimg.cn/crop.0.0.512.512.50/d0c2c2a7jw8f5ici98oi5j20e80e8jro.jpg" alt=""></span>
                <div class="notice">
                    <span class="icon-notice active"></span><!--如果需要小红点 class中加入active-->
                    <ul>
                        <li><a href="#">我的课程</a></li>
                        <li><a href="#">基本信息</a></li>
                        <li><a href="#">账户安全</a></li>
                        <li><a href="#">我的资料</a></li>
                        <li><a href="#">成绩查询</a></li>
                        <li><a href="#">我的订单</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </div>
            </div>
            <!--登陆后end-->
        </div>
    </div>
    <!--顶部菜单与logo end-->
    <!--通用顶部 end-->
    <div class="wrap">
        <div class="res_col">
            <h1>课程购买成功！即可开启学习旅程吧～</h1>
            <h2>当前页面正在跳转至我的课程页，请稍后…</h2>
            <p class="count" id="count">3s</p>
            <a href="#" class="jump_btn">手动跳转</a>
        </div>
    </div>

    <!--通用底部start-->
    <div class="footer">
        <div class="wrap">
            <div class="links">
                <b>友情链接：</b>
                <div class="link_list">
                    <a href="">雅芳中国</a>
                    <a href="">百雀羚</a>
                    <a href="">自然堂</a>
                    <a href="">巴黎欧莱雅</a>
                    <a href="">谷歌</a>
                    <a href="">百度</a>
                    <a href="">FACEBOOK</a>
                    <a href="">腾讯</a>
                    <a href="">窃美记</a>
                    <a href="">滴滴打车</a>
                    <a href="">美图秀秀</a>
                    <a href="">新浪中国</a>
                </div>
            </div>

            <div class="foot_bt clearfix">
                <div class="bl">
                    <img src="css/img/logo.png" alt="" class="logo">
                    <div class="bl_main">
                        <p>
                            <a href="#">关于大康</a>
                            <a href="#">联系我们</a>
                            <a href="#">帮助中心</a>
                        </p>
                        <p>陕ICP备12003221号 Copyright 陕西大康心理咨询与心理治疗培训学校</p>
                    </div>
                </div>
                <div class="br">
                    <div class="social">
                        <a href="#" class="icon-weibo"></a>
                        <a href="#" class="icon-wx"></a>
                        <a href="#" class="icon-douban"></a>
                    </div>
                    <div class="connects">
                        <b><i class="icon-phone"></i>报名电话</b>
                        <p>西 安 学 校：029-85264680</p>
                        <p>广 东 学 校：020-89040932</p>
                        <p>领袖心理课：029-89399618</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--通用底部end-->


    <!--侧边滑动通用start-->
    <div class="side_fixed">
        <a href="#" class="online_service"></a>
        <div class="box">
            <a href="javascript:;">
                <span class="icon-qrcode"></span>
                <div class="pop clearfix">
                    <img src="upload/side_qrcode1.png" alt="">
                    <img src="upload/side_qrcode2.png" alt="">
                    <img src="upload/side_qrcode3.png" alt="">
                </div>
            </a>
            <a href="javascript:;">
                <span class="icon-cellphone"></span>
                <div class="pop clearfix short">
                    <img src="upload/side_qrcode4.png" alt="">
                </div>
            </a>
            <a href="javascript:;">
                <span class="icon-phone2"></span>
                <div class="pop clearfix">
                    <b>联系电话</b>
                    <p>保健院（心理咨询 029-88135388）</p>
                    <p>学　校（报名咨询 029-85264680）</p>
                </div>
            </a>
        </div>
    </div>
    <!--侧边滑动通用end-->
</body>
<script src="js/jquery-1.9.1.min.js"></script>

<script src="js/common.js"></script>
<script>
</script>
</html>