    [#escape x as (x)!?html]
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>大康</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="webkit" name="renderer" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/a_css/common.css">
    <link rel="stylesheet" href="_files/a_css/ucenter.css">
    <script src="_files/a_js/jquery-1.9.1.min.js"></script>
	<script src="_files/a_js/common.js"></script>
    <script>
	    $(".pay_type .pays span").click(function(){
	        var t=$(this);
	        t.addClass("current").siblings().removeClass("current");
	        $("#type_val").val(t.index());
	    })
	    
	    function toPay() {
	    	$("#order_form").submit();
	    }
	</script>
</head>
<body>

    
    <!--通用顶部 start-->
   	[#include 'a_head.html'/]
    <!--通用顶部 end-->
    
    
    <div class="confirm_order">
        <div class="wrap">
            <div class="step clearfix">
                <span class="current"> <b>确认订单</b></span>
                <span><b>完成订单</b></span>
            </div>

            <div class="ct">
                <div class="com_tit long">
                    <h2>确认订单</h2>
                </div>
                    <ul class="product_list">
                        <li>
                            <img src="${course.smallImage}" alt=""><!--290x160-->
                            <b>${course.title}</b>
                            <span class="price">￥${course.customs['price']}</span>
                        </li>
                    </ul>

                    <div class="pay_type clearfix">
                        <b>支付方式:</b>
                        <div class="pays clearfix">
                            <span class="current"><i class="icon-alipay"></i><em>支付宝</em></span>
                            <!-- <span><i class="icon-wx"></i><em>微信支付</em></span> -->
                            <input type="hidden" id="type_val">
                        </div>
                    </div>

                    <div class="order_ft">
                    <!-- 只用到这里，于是把form写在了下边 -->
                    <form  id="order_form" action="confirmOrder.jspx" method="post">
                        <input type="hidden" name="buyerId" value="1" />
                        <input type="hidden" name="productionId" value="${course.id}" />
                        <input type="hidden" name="skuPrice" value="${course.customs["price"]}">
                        <div class="price">
	                                                   应付金额:<strong>￥${course.customs["price"]}</strong>
                        </div>
                        <div class="btns">
                            <!-- <a href="#">取消订单</a> -->
                            <a href="#" class="confirm_btn" onclick="return toPay()">提交订单</a>
                        </div>
                    </form>
                    </div>
            </div>

        </div>
    </div>


    <!--通用底部start-->
    [#include 'a_end.html'/]
    <!--通用底部end-->

    <!--侧边滑动通用start-->
    [#include 'a_side.html'/]
    <!--侧边滑动通用end-->
</body>
</html>
[/#escape]