[#escape x as (x)!?html]
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>用户登录_${site.fullNameOrName}${global.customs['poweredby']}</title>
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
	<meta content="webkit" name="renderer" />
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/a_css/common.css">
    <link rel="stylesheet" href="_files/a_css/ucenter.css">
    <script src="_files/a_js/jquery-1.9.1.min.js"></script>
	<script src="_files/a_js/common.js"></script>
	<script src="_files/a_js/member.js"></script>
    <script type="text/javascript">
    	function showDiv(div) {
    		if(div == 'mobile') {
    			// 设置隐藏域参数
    			$('#regType').val('byMobile');
    			// 控制表单展示
    			$('#mobile_div').css('display', 'block');
    			$('#email_div').css('display', 'none');
    			// 控制标题展示
    			$('#mobile_reg_selector').attr('class', 'current');
    			$('#email_reg_selector').attr('class', '');
    		} else {
    			// 设置隐藏域参数
    			$('#regType').val('byEmail');
    			// 控制表单展示
    			$('#mobile_div').css('display', 'none');
    			$('#email_div').css('display', 'block');
    			// 控制标题展示
	    		$('#mobile_reg_selector').attr('class', '');
	    		$('#email_reg_selector').attr('class', 'current');
    		}
    	}
		function register() {
		    if(!checkname()){
		        return false;
		    }else if (!checkpass()) {
		        return false;
		    } else if(!checkrpass()){
		        return false;
		    }
		    if($("#regType").val() == "byMobile") {
		    	if(!checkmobile()) {
		    		return false;
		    	}
		    	// 验证码检查
		    	var verifyCode = $("#smsVerifyCode").val();
		    	if(verifyCode.length == 0) {
			    	$("#warn_code").css('display', 'block');
	    			$("#warn_code").html("！请填写验证码");
		    		return false;
		    	}
		    } else {
		    	if(!checkemail()) {
		    		return false;
		    	}
		    }
		    $('#mobileForm').submit();
		    return true;
		}
    </script>
</head>
<body>
    
    <!--通用顶部 start-->
   [#include 'a_head.html'/]
    <!--通用顶部 end-->

	<div class="wrap">
        <div class="col_box regist_col">
            <div class="com_tit long">
                <h2 class="t_center">&nbsp;</h2>
                <div class="nav">
                    <a href="#" id="mobile_reg_selector" class="current" onclick="showDiv('mobile')">手机注册</a>
                    <a href="#" id="email_reg_selector" onclick="showDiv('email')">邮箱注册</a>
                </div>
                <a href="login.jspx" class="link">登录</a>
            </div>
            <div class="form_group">
	        <form id="mobileForm" action="${ctx}/register.jspx" method="post">
	            <input type="hidden" name="redirectUrl" id="redirectUrl" value="${ctx}/register_message.jspx?username={username}&email={email}&verifyMode={verifyMode}&regType={regType}"/>
	            <input type="hidden" name="regType" id="regType" value="byMobile"/>
	            <!-- 手机注册 -->
                <div id="mobile_div">
                <div class="line with_icon">
                    <span class="icon icon-cellphone"></span>
                    <div class="input">
                    	<input type="text" id="mobile" name="mobile" onblur="return checkmobile()" placeholder="手机号码">
                    </div>
                    <p id="warn_mobile" class="warn" style="display:none">! 该手机号已被注册</p>
                </div>
                <div class="line with_icon with_btn">
                    <span class="icon icon-yanzheng"></span>
                    <input type="text" id="smsVerifyCode" name="smsVerifyCode" placeholder="验证码">
                    <a href="#" class="btn" onclick="return sendSmsCode('register_send_sms_verify_code.jspx')">获取验证码</a>
                    <p id="warn_code" class="warn" style="display:none">! 请输入验证码</p>
                </div>
                </div>
            	<!-- 邮箱注册 -->
                <div id="email_div" style="display:none">
                <div class="line with_icon">
                    <span class="icon icon-mail"></span>
                    <input type="text" id="email" name="email" onblur="return checkemail()" placeholder="邮箱账号">
                    <p id="warn_email" class="warn" style="display:none">! 该邮箱已被注册</p>
                </div>
				</div>
                <div class="line with_icon">
                    <span class="icon icon-user"></span>
                    <input type="text" id="username" name="username" onblur="return checkname()" placeholder="昵称">
                    <p id="warn_username" class="warn" style="display:none"></p>
                </div>
                <div class="line with_icon">
                    <span class="icon icon-psw"></span>
                    <input type="password" id="password" name="password" onblur="return checkpass()" placeholder="密码">
                    <p id="warn_password" class="warn" style="display:none"></p>
                </div>
                <div class="line with_icon">
                    <span class="icon icon-psw"></span>
                    <input type="password" id="passwordAgain" onblur="return checkrpass()" placeholder="再次输入密码">
                    <p id="warn_passwordAgain" class="warn" style="display:none"></p>
                </div>
                <div class="check_line">
                    <label for="readed"><input type="checkbox" class="check_box" id="readed" checked="checked">用户注册即代表同意服务条款</label>
                </div>
                <a href="#" class="long_btn" onclick="return register()">注册</a>
            </form>
			</div>
            <div class="quick_link">
                <b>快捷登录：</b>
                <a href="#" class="icon-wx"></a>
                <a href="#" class="icon-weibo"></a>
                <a href="#" class="icon-qq"></a>
            </div>

        </div>
    </div>

    <!--通用底部start-->
    [#include 'a_end.html'/]
    <!--通用底部end-->

    <!--侧边滑动通用start-->
    [#include 'a_side.html'/]
    <!--侧边滑动通用end-->
</body>
</html>
[/#escape]