[#escape x as (x)!?html]
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>用户登录_${site.fullNameOrName}${global.customs['poweredby']}</title>
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
	<meta content="webkit" name="renderer" />
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/a_css/common.css">
    <link rel="stylesheet" href="_files/a_css/ucenter.css">
    <script src="_files/a_js/jquery-1.9.1.min.js"></script>
	<script src="_files/a_js/common.js"></script>
	<script src="_files/a_js/member.js"></script>
    <script type="text/javascript">
    	function showDiv(div) {
    		if(div == 'mobile') {
    			// 控制表单展示
    			$('#mobile_reg_form').css('display', 'block');
    			$('#email_reg_form').css('display', 'none');
    			// 控制标题展示
    			$('#mobile_reg_selector').attr('class', 'current');
    			$('#email_reg_selector').attr('class', '');
    		} else {
    			// 控制表单展示
    			$('#mobile_reg_form').css('display', 'none');
    			$('#email_reg_form').css('display', 'block');
    			// 控制标题展示
	    		$('#mobile_reg_selector').attr('class', '');
	    		$('#email_reg_selector').attr('class', 'current');
    		}
    	}
    	
    	function retrievePswByMobile() {
	    	var mobile = $("#mobile").val();
			if (!isMobile(mobile)) {
				$("#warn_mobile").css('display', 'block');
				$("#warn_mobile").html('！请输入正确的手机号');
				return false;
			}
    		if (!checkpass()) {
		        return false;
		    } else if(!checkrpass()){
		        return false;
		    }
		    $('#mobile_reg_form_submit').submit();
		    return true;
    	}
    </script>
</head>
<body>
    
    <!--通用顶部 start-->
   [#include 'a_head.html'/]
    <!--通用顶部 end-->

	<div class="wrap">
        <div class="col_box repsw_col">
            <div class="form_group">
                <div class="com_tit long">
                    <h2>重设密码</h2>
                    <div class="nav">
                    	<a href="#" id="mobile_reg_selector" class="current" onclick="showDiv('mobile')">手机号码</a>
                    	<a href="#" id="email_reg_selector" onclick="showDiv('email')">邮箱账号</a>
                    </div>
                </div>
				<!-- 手机 -->
				<form id="mobile_reg_form_submit" action="retrieve_password_by_mobile.jspx" method="post">
					<!-- operation success 统一跳转到首页 -->
					<!-- <input type="hidden" name="redirectUrl" value="${ctx}/dk_edu.jspx"/> -->
	                <div id="mobile_reg_form" style="display:block">
		                <div class="line with_icon">
		                    <span class="icon icon-cellphone"></span>
		                    <input type="text" id="mobile" name="mobile" placeholder="手机号码">
		                    <p id="warn_mobile" class="warn" style="display:none">! 该手机号已被注册</p>
		                </div>
		                <div class="line with_icon with_btn">
		                    <span class="icon icon-yanzheng"></span>
		                    <input type="text" name="verifyCode" placeholder="验证码">
		                    <a href="#" class="btn" onclick="return sendSmsCode('forgot_send_sms_verify_code.jspx')">获取验证码</a>
		                </div>
		                <div class="line with_icon">
		                    <span class="icon icon-psw"></span>
		                    <input type="password" id="password" name="password" onblur="return checkpass()" placeholder="密码">
	                    	<p id="warn_password" class="warn" style="display:none"></p>
		                </div>
		                <div class="line with_icon">
		                    <span class="icon icon-psw"></span>
		                    <input type="password" id="passwordAgain" onblur="return checkrpass()" placeholder="再次输入密码">
	                    <p id="warn_passwordAgain" class="warn" style="display:none"></p>
		                </div>
		                <a href="#" class="long_btn" onclick="return retrievePswByMobile()">重设密码</a>
	                </div>
                </form>

				<!-- 邮箱 -->
                <div id="email_reg_form" style="display:none">
                <form id="validForm" action="${ctx}/forgot_password_send_email.jspx" method="post">
	                <div class="line with_icon">
	                    <span class="icon icon-mail"></span>
	                    <input type="text" id="email" name="email" placeholder="邮箱账号">
	                </div>
	            </form>
	                <a href="#" class="long_btn" onclick="return sendEmail()">发送邮件</a>
	                <p id="email_hint" class="tip red" style="display:none">邮件已发送至您的邮箱，请查收验证邮件并重新设定密码</p>
                </div>
             </div>
        </div>
    </div>

    <!--通用底部start-->
    [#include 'a_end.html'/]
    <!--通用底部end-->

    <!--侧边滑动通用start-->
    [#include 'a_side.html'/]
    <!--侧边滑动通用end-->
</body>
</html>
[/#escape]