[#escape x as (x)!?html]
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>用户登录_${site.fullNameOrName}${global.customs['poweredby']}</title>
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
	<meta content="webkit" name="renderer" />
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/a_css/common.css">
    <link rel="stylesheet" href="_files/a_css/ucenter.css">
    <script src="_files/a_js/jquery-1.9.1.min.js"></script>
	<script src="_files/a_js/common.js"></script>
	<script type="text/javascript">
		function login() {
			var username = $("#username").val();
			if(username.length==0) {
				$("#warn_mobile").css('display', 'block');
				$("#warn_mobile").html('！请输入手机号或邮箱');
				return false;
			}
			$("#warn_mobile").css('display', 'none');
			var password = $("#password").val();
			if(password.length==0) {
				$("#warn_password").html("！请输入密码");
				$("#warn_password").css("display", "block");
				return false;
			}
			$("#warn_password").css("display", "none");
			$("#validForm").submit();
		}
	</script>    
</head>
<body>
    
    <!--通用顶部 start-->
   [#include 'a_head.html'/]
    <!--通用顶部 end-->

	<div class="wrap">
        <div class="col_box login_col">
            <div class="com_tit long">
                <h2 class="t_center">登录</h2>
                <a href="register.jspx" class="link">注册</a>
            </div>
            <div class="form_group">
            <form id="validForm" action="${ctx}/login.jspx" method="post">
			<input type="hidden" name="fallbackUrl" value="dk_edu.jspx"/>
                <div class="line with_icon">
                    <span class="icon icon-user"></span>
                    <input type="text" id="username" name="username" value="${username!}" placeholder="手机号码/邮箱账号/昵称">
                    <p id="warn_mobile" class="warn" style="display:none">! 该手机号已被注册</p>
                    <p id="login_result" class="warn">
                    [#if shiroLoginFailure??]
						[#if shiroLoginFailure=='com.jspxcms.common.security.IncorrectCaptchaException']
							！验证码不正确
							[#--[@s.message code='incorrectCaptchaError'/]--]
							[#elseif shiroLoginFailure=='org.apache.shiro.authc.UnknownAccountException']
							[#--用户名不存在--]
							！用户名不存在
							[#elseif shiroLoginFailure=='org.apache.shiro.authc.LockedAccountException']
							！此用户被锁定
							[#elseif shiroLoginFailure=='com.jspxcms.common.security.UnactivatedAccountException']
							！此用户未激活
							[#elseif shiroLoginFailure=='org.apache.shiro.authc.IncorrectCredentialsException']
							！用户名或密码错误
							[#else]
							${shiroLoginFailure}
							[/#if]
					[/#if]
                    </p>
                </div>
                <div class="line with_icon">
                    <span class="icon icon-psw"></span>
                    <input type="password" id="password" name="password" placeholder="密码">
                    <p id="warn_password" class="warn" style="display:none"></p>
                </div>
                [#if Session.shiroCaptchaRequired?? || global.captchaErrors<=0]
				<div class="line">
					<label for="captcha" class="label">验证码:</label>
					<div class="input">
						<input type="text" id="captcha" name="captcha" class="text" data-rule-required="true" data-rule-remote='{"url":"${ctx}/captcha.servlet","type":"post"}' data-msg-remote="验证码错误" style="width:94px;" autocomplete="off"/>
						<img src="${ctx}/captcha.servlet" onclick="this.src='${ctx}/captcha.servlet?d='+new Date()*1;$('#captcha').focus();" style="cursor:pointer;border:1px solid #ccc;margin:0;vertical-align:top;" title="点击重新获取验证码"/><label for="captcha" generated="true" class="error"></label>
					</div>
				</div>
				[/#if]
                <div class="check_line">
                    <label><input type="checkbox" id="rememberMe" name="rememberMe" style="vertical-align:middle;"/> 记住登录</label>
                    <a href="forgot_password.jspx" class="forget">忘记密码</a>
                </div>
                <a href="#" class="long_btn" onclick="return login()">登录</a>
            </form>
            </div>

	[#if global.customs['oauth']! == '1']
    	[#assign oauthQqUrl]${ctx}/support_genuine.jsp[/#assign]
    	[#assign oauthWeiboUrl]${ctx}/support_genuine.jsp[/#assign]
	[#elseif global.customs['oauth']! == '2']
    	[#assign oauthQqUrl]javascript:alert('请先设置好第三方平台APP_ID和APP_KEY，再开启第三方登录');[/#assign]
    	[#assign oauthWeiboUrl]javascript:alert('请先设置好第三方平台CLIENT_ID和CLIENT_SERCRET，再开启第三方登录');[/#assign]
	[#elseif global.customs['oauth']! == '3']
    	[#assign oauthQqUrl]${ctx}/oauth/qq_login.jspx?fallbackUrl=${Param.fallbackUrl?url}[/#assign]
    	[#assign oauthWeiboUrl]${ctx}/oauth/weibo_login.jspx?fallbackUrl=${Param.fallbackUrl?url}[/#assign]
	[/#if]
    [#if oauthQqUrl?? && oauthWeiboUrl??]
            <div class="quick_link">
                <b>快捷登录：</b>
                <a href="#" class="icon-wx"></a>
                <a href="${oauthWeiboUrl}" class="icon-weibo"></a>
                <a href="${oauthQqUrl}" class="icon-qq"></a>
            </div>
	[/#if]
        </div>
    </div>

    <!--通用底部start-->
    [#include 'a_end.html'/]
    <!--通用底部end-->

    <!--侧边滑动通用start-->
    [#include 'a_side.html'/]
    <!--侧边滑动通用end-->
</body>
</html>
[/#escape]