[#escape x as (x)!?html]
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${site.fullNameOrName}</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/css/swiper.min.css">
    <link rel="stylesheet" href="_files/css/common.css">
    <link rel="stylesheet" href="_files/css/list.css">
</head>
<body>
    <!--通用顶部 start-->
    [#include 'head.html'/]
    <!--通用顶部 end-->

[@InfoFulltextPage q=Param.q title=Param.title keyword=Param.keyword description=Param.description text=Param.text nodeId=Param.nodeId beginDate=Param.beginDate endDate=Param.endDate sort=Param.sort pageSize=10;pagedList]
<div class="wrap">
	<h1 class="com_tit">搜索 <span class="highlight">${Param.q}</span> 的结果</h1>
	[#if pagedList.totalElements > 0]
	<div class="ct">
        <div class="main">
            <ul class="post_list">
				[#list pagedList.content as info]
				<li>
						<a href="${info.url}">
                            <img src="${info.smallImageUrl}" alt=""><!--尺寸235x160-->
                            <div class="wd">
                                <b>[#noescape]${info.highlightTitle}[/#noescape]</b>
                                <p>[#noescape]${info.highlightText}[/#noescape]</p>
                            </div>
                            <span class="view">
                                <i class="icon-view2"></i>
                                <span>${info.bufferViews}</span>
                            </span>
                        </a>
                        <div class="tags">
                            <span class="icon-tag"></span>
                            <a href="#">标签1</a>
                            <a href="#">标签2</a>
                            <a href="#">标签3</a>
                        </div>
				</li>
				[/#list]
			</ul>
			<div class="more_btn">
                <a href="javascript:;">查看更多文章 <span class="icon-double-arrow-d"></span></a>
            </div>
		</div>
		
		[@Node number='article';node]
            <div class="sidebar">
                <div class="side_tit">
                    <b>最热</b>
                    <a href="${node.url}">查看更多热门文章</a>
                </div>
                
                
                <div class="proficients">
                <div class="hot_tests">
                [@InfoList nodeId=node.id  limit='10';list]
				[#list list as info]
                    <div class="box">
                        <a href="${info.url}">
                            <img src="${info.smallImageUrl}" width="150" height="105" alt=""><!--尺寸120x174-->
                            <b>${info.title}</b>
                            <span>${substring(info.description,40,'...')}</span>
                        </a>
                    </div>
                    [/#list]
                    [/@InfoList]
                </div>
		</div>
            </div>
             [/@Node]
	[/#if]
</div>
[/@InfoFulltextPage]

[#include 'end.html'/]
<script src="_files/js/jquery-1.9.1.min.js"></script>
<script src="_files/js/swiper.min.js"></script>
<script src="_files/js/common.js"></script>
</body>
</html>
[/#escape]