[#escape x as (x)!?html]
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>用户登录_${site.fullNameOrName}${global.customs['poweredby']}</title>
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
	<meta content="webkit" name="renderer" />
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="_files/a_css/common.css">
    <link rel="stylesheet" href="_files/a_css/ucenter.css">
    <script type="text/javascript">
    	function showDiv(div) {
    		if(div == 'mobile') {
    			// 控制表单展示
    			$('#mobile_div').css('display', 'block');
    			$('#email_div').css('display', 'none');
    			// 控制标题展示
    			$('#mobile_reg_selector').attr('class', 'current');
    			$('#email_reg_selector').attr('class', '');
    		} else {
    			// 控制表单展示
    			$('#mobile_div').css('display', 'none');
    			$('#email_div').css('display', 'block');
    			// 控制标题展示
	    		$('#mobile_reg_selector').attr('class', '');
	    		$('#email_reg_selector').attr('class', 'current');
    		}
    	}
    	
    	function checkmobile() {
    		var mobile = $("#mobile").val();
    		if(!isMobile(mobile)) {
    			$("#warn_mobile").css('display', 'block');
    			$("#warn_mobile").html('！请输入正确的手机号');
    			return false;
    		} else {
    			$("#warn_mobile").css('display', 'none');
	    		return true;
    		}
    	}
    	function isMobile(str) {
    		var reg = /^1\d{10}$/;
    		return reg.test(str);
    	}
    	function checkname(){
		    var name = $("#username").val();  
		    if(name.length<6|| name.length>15)    
		    {   
		        $("#warn_username").html("！用户名长度须在6-15之间");
		        $("#warn_username").css("display", "block");
		        return false;
		    }
		    
		    //$.post("checkUserName.action", {" userName": name },function(data){
		        //var d = $.parseJSON(data);
		        //if(d.success!=true){
		             //return true;
		        //}
		    //});
		    $("#warn_username").css("display", "none");
		    return true;
		}
		function checkpass(){
		    var userPass = $("#password").val();
		    if(userPass.length<6 || userPass.length >15)  {
		     	$("#warn_password").html("！密码长度须在6-15之间");
		    	$("#warn_password").css("display", "block");
		        return false;
		    } else {
				$("#warn_password").css("display", "none");
			    return true;
		    }
		}
		function checkrpass(){
		    var userPass = $("#password").val();
		    var userRPass = $("#passwordAgain").val();
		    if (userPass != userRPass) {
		        $("#warn_passwordAgain").html("！两次输入的密码不一致");
		    	$("#warn_passwordAgain").css("display", "block");
		        return false;
		    } else {
				$("#warn_passwordAgain").css("display", "none");
			    return true;
		    }
		}
		function checkemail(){
		    var userEmail = $("#email").val();
		    if(!isEmail(userEmail)){
		    	$("#warn_email").html("！邮箱格式不正确");
		    	$("#warn_email").css("display", "block");
		        return false;
		    } else {
		    	$("#warn_email").css("display", "none");
				return true;
		    }
		}
		function isEmail(str){
		    var reg = /[a-z0-9-]{1,30}@[a-z0-9-]{1,65}.[a-z]{3}/;
		    return reg.test(str);
		}
		
		function register() {
		    if(!checkname()){
		        return false;
		    }else if (!checkpass()) {
		        return false;
		    } else if(!checkrpass()){
		        return false;
		    } else if(!checkmobile() && !checkemail()) {
		    	return false;
		    }
		    $('#mobileForm').submit();
		    return true;
		}
    </script>
</head>
<body>
    
    <!--通用顶部 start-->
   [#include 'a_head.html'/]
    <!--通用顶部 end-->

	<div class="wrap">
        <div class="col_box regist_col">
            <div class="com_tit long">
                <h2 class="t_center">&nbsp;</h2>
                <div class="nav">
                    <a href="#" id="mobile_reg_selector" class="current" onclick="showDiv('mobile')">手机注册</a>
                    <a href="#" id="email_reg_selector" onclick="showDiv('email')">邮箱注册</a>
                </div>
                <a href="login.jspx" class="link">登录</a>
            </div>
            <div class="form_group">
	        <form id="mobileForm" action="${ctx}/register.jspx" method="post">
	            <input type="hidden" name="redirectUrl" value="${ctx}/register_message.jspx?username={username}&email={email}&verifyMode={verifyMode}"/>
	            <!-- 手机注册 -->
                <div id="mobile_div">
                <div class="line with_icon">
                    <span class="icon icon-cellphone"></span>
                    <div class="input">
                    	<input type="text" id="mobile" name="mobile" onblur="return checkmobile()" placeholder="手机号码">
                    </div>
                    <p id="warn_mobile" class="warn" style="display:none">! 该手机号已被注册</p>
                </div>
                <div class="line with_icon with_btn">
                    <span class="icon icon-yanzheng"></span>
                    <input type="text" placeholder="验证码">
                    <a href="#" class="btn">获取验证码</a>
                </div>
                </div>
            	<!-- 邮箱注册 -->
                <div id="email_div" style="display:none">
                <div class="line with_icon">
                    <span class="icon icon-mail"></span>
                    <input type="text" id="email" name="email" onblur="return checkemail()" placeholder="邮箱账号">
                    <p id="warn_email" class="warn" style="display:none">! 该邮箱已被注册</p>
                </div>
				</div>
                <div class="line with_icon">
                    <span class="icon icon-user"></span>
                    <input type="text" id="username" name="username" onblur="return checkname()" placeholder="昵称">
                    <p id="warn_username" class="warn" style="display:none"></p>
                </div>
                <div class="line with_icon">
                    <span class="icon icon-psw"></span>
                    <input type="password" id="password" name="password" onblur="return checkpass()" placeholder="密码">
                    <p id="warn_password" class="warn" style="display:none"></p>
                </div>
                <div class="line with_icon">
                    <span class="icon icon-psw"></span>
                    <input type="password" id="passwordAgain" onblur="return checkrpass()" placeholder="再次输入密码">
                    <p id="warn_passwordAgain" class="warn" style="display:none"></p>
                </div>
                <div class="check_line">
                    <label for="readed"><input type="checkbox" class="check_box" id="readed">
                        用户注册即代表同意服务条款</label>
                </div>
                <a href="#" class="long_btn" onclick="javascript:return register()">注册</a>
            </form>
			</div>
            <div class="quick_link">
                <b>快捷登录：</b>
                <a href="#" class="icon-wx"></a>
                <a href="#" class="icon-weibo"></a>
                <a href="#" class="icon-qq"></a>
            </div>

        </div>
    </div>

    <!--通用底部start-->
    [#include 'a_end.html'/]
    <!--通用底部end-->

    <!--侧边滑动通用start-->
    [#include 'a_side.html'/]
    <!--侧边滑动通用end-->
</body>
<script src="_files/a_js/jquery-1.9.1.min.js"></script>
<script src="_files/a_js/common.js"></script>
</html>
[/#escape]