[#if global.customs['oauth']! == '1']
    [#assign oauthQqUrl]${ctx}/support_genuine.jsp[/#assign]
    [#assign oauthWeiboUrl]${ctx}/support_genuine.jsp[/#assign]
[#elseif global.customs['oauth']! == '2']
    [#assign oauthQqUrl]javascript:alert('请先设置好第三方平台APP_ID和APP_KEY，再开启第三方登录');[/#assign]
    [#assign oauthWeiboUrl]javascript:alert('请先设置好第三方平台CLIENT_ID和CLIENT_SERCRET，再开启第三方登录');[/#assign]
[#elseif global.customs['oauth']! == '3']
    [#assign oauthQqUrl]${ctx}/oauth/qq_login.jspx?fallbackUrl=${Param.fallbackUrl!?url}[/#assign]
    [#assign oauthWeiboUrl]${ctx}/oauth/weibo_login.jspx?fallbackUrl=${Param.fallbackUrl!?url}[/#assign]
[/#if]
[#assign script]
[#escape x as (x)!?html]
	[#if user??]
	<div class="logined_box">
		<span class="u_head"><img
			src="http://tva1.sinaimg.cn/crop.0.0.512.512.50/d0c2c2a7jw8f5ici98oi5j20e80e8jro.jpg"
			alt="">
		</span>
		<div class="notice">
			<span class="icon-notice active"></span>
			<!--如果需要小红点 class中加入active-->
			<ul>
				<li><a href="${ctx}/myCourse.jspx">我的课程</a>
				</li>
				<li><a href="${ctx}/myProfile.jspx">基本信息</a>
				</li>
				<li><a href="${ctx}/mySecure.jspx">账户安全</a>
				</li>
				<li><a href="${ctx}/myLibrary.jspx">我的资料</a>
				</li>
				<li><a href="${ctx}/myScore.jspx">成绩查询</a>
				</li>
				<li><a href="${ctx}/myOrder.jspx">我的订单</a>
				</li>
				<li><a href="${ctx}/logout.jspx">退出登录</a>
				</li>
			</ul>
		</div>
	</div>
[#else]
    <!--登陆前start-->
    <div class="login_box">
    	<a href="${ctx}/login.jspx">登录</a>
        <a href="${ctx}/register.jspx">注册</a>
    </div>
    <!--登陆后start-->    
[/#if]
[/#escape]
[/#assign]
document.write("${script?js_string}");