@charset "utf-8";

.page_post_detail{padding:70px 0 140px;}
.page_post_detail h1{line-height:52px;font-size:30px;color:#333;text-align: center;margin-bottom:45px;}
.page_post_detail .main{padding:70px 228px;background:#fff;}
.page_post_detail .main p{font-size:14px;color:#353535;line-height:25px;font-weight: 300;}
.page_post_detail .main img{max-width: 100%;}
.page_post_detail .main ul,.page_post_detail .main ol{padding-left:24px;}
.page_post_detail .main ul li{list-style: disc inside none;list-style-position:outside;margin-bottom:5px;text-indent:0;}
.page_post_detail .main ol li{list-style: decimal inside none;list-style-position:outside;margin-bottom:5px;text-indent:0;}
.page_post_detail .main ul ul li,.page_post_detail .main ol ul li{list-style-type: circle;}
.page_post_detail .main ul ul ul li,.page_post_detail .main ol ul ul li,.page_post_detail .main ol ol ul li{list-style-type: square;}


.page_database_detail{position:relative;margin:50px auto 175px;}
.page_database_detail .ct{margin-right:354px;}
.page_database_detail .ct h1{line-height:34px;font-size: 26px;color:#5f5f5f;margin-bottom:6px;font-weight: normal;}
.page_database_detail .ct h1 .icon-pdf{float:left;color:#cc7373;font-size:20px;margin-right:6px;}
.page_database_detail .ct .intro{color:#666;font-size:12px;line-height:22px;margin-bottom:15px;}
.page_database_detail .ct .main{height:1000px;border:1px solid #c3c3c3;background:#fff;}
.page_database_detail .sidebar{width:330px;position: absolute;right:0;top:0;}
.page_database_detail .share_box{overflow:hidden;background: #fff;padding:28px 0;box-shadow:0 0 8px rgba(9,2,4,0.06);margin-bottom:7px;}
.page_database_detail .bdsharebuttonbox{line-height:40px;text-align: center;}
.page_database_detail .bdsharebuttonbox span{display:inline-block;    vertical-align: middle;font-size:14px;color:#777;}
.page_database_detail .bdsharebuttonbox a{padding:0!important;margin:0 3px!important;width:40px!important;height:40px!important;display:inline-block!important;float:none!important;background-image:none!important;background-repeat: no-repeat!important;color: #ffffff !important;   vertical-align: middle;font-size:30px!important;line-height: 40px!important;text-align: center;border-radius:100%;}
.page_database_detail .bdsharebuttonbox a.bds_weixin{background-color:#5ca633;}
.page_database_detail .bdsharebuttonbox a.bds_qzone{background-color:#4a88c3;}
.page_database_detail .bdsharebuttonbox a.bds_douban{background-color:#00b3aa;}
.page_database_detail .bdsharebuttonbox a.bds_tsina{background-color:#e73048;}
.page_database_detail .sidebar .btn{display:block;height:62px;line-height: 62px;text-align: center;color:#fff;font-size:20px;margin-bottom:7px;}
.page_database_detail .sidebar .btn.save{background:#5892a4;}
.page_database_detail .sidebar .btn.download{background:#e2534b;}
.page_database_detail .sidebar .database_hot_list{padding:15px;background:#fff;box-shadow:0 0 8px rgba(9,2,4,0.06);}
.page_database_detail .sidebar .database_hot_list ul{padding:15px 0;}
.page_database_detail .sidebar .database_hot_list li{height:40px;line-height: 40px;text-overflow:ellipsis;overflow:hidden; white-space:nowrap;}
.page_database_detail .sidebar .database_hot_list li a{font-size:16px;color:#333;}
.page_database_detail .sidebar .database_hot_list li span{color:#68bcb3;float:left;width:25px;}

.page_psychology_detail{margin:40px auto 160px;}
.page_psychology_detail .ct{margin-right:355px;padding:38px 15px 55px;background:#fff;}
.page_psychology_detail .ct .post_head{padding-bottom:10px;border-bottom:1px solid #ddd;}
.page_psychology_detail .ct .post_head h1{font-size:24px;color:#333;line-height: 36px;font-weight: normal;}
.page_psychology_detail .ct .post_head .info{width:100%;overflow:hidden;margin-top:20px;}
.page_psychology_detail .ct .post_head .info span{float:left;line-height:22px;color:#777;font-size:14px;margin-right:25px;display:inline;}
.page_psychology_detail .ct .post_head .info i{color:#f0bf00;float:left;margin-right:5px;font-size:18px;}
.page_psychology_detail .ct .post_head .info a{color:#777;font-size:14px;margin-right:10px;}
.page_psychology_detail .post_main{padding:40px 0 100px;}
.page_psychology_detail .post_main p{font-size:14px;color:#353535;line-height:25px;font-weight: 300;}
.page_psychology_detail .post_main img{max-width: 100%;}
.page_psychology_detail .post_main ul,.page_psychology_detail .post_main ol{padding-left:24px;}
.page_psychology_detail .post_main ul li{list-style: disc inside none;list-style-position:outside;margin-bottom:5px;text-indent:0;}
.page_psychology_detail .post_main ol li{list-style: decimal inside none;list-style-position:outside;margin-bottom:5px;text-indent:0;}
.page_psychology_detail .post_main ul ul li,.page_psychology_detail .post_main ol ul li{list-style-type: circle;}
.page_psychology_detail .post_main ul ul ul li,.page_psychology_detail .post_main ol ul ul li,.page_psychology_detail .post_main ol ol ul li{list-style-type: square;}
.page_psychology_detail .ct .share_box{overflow:hidden;float:right;}
.page_psychology_detail .ct .bdsharebuttonbox{line-height:40px;}
.page_psychology_detail .ct .bdsharebuttonbox span{display:inline-block;    vertical-align: middle;font-size:14px;color:#777;}
.page_psychology_detail .ct .bdsharebuttonbox a{padding:0!important;margin:0 3px!important;width:40px!important;height:40px!important;display:inline-block!important;float:none!important;background-image:none!important;background-repeat: no-repeat!important;color: #ffffff !important;   vertical-align: middle;font-size:30px!important;line-height: 40px!important;text-align: center;border-radius:100%;}
.page_psychology_detail .ct .bdsharebuttonbox a.bds_weixin{background-color:#5ca633;}
.page_psychology_detail .ct .bdsharebuttonbox a.bds_qzone{background-color:#4a88c3;}
.page_psychology_detail .ct .bdsharebuttonbox a.bds_douban{background-color:#00b3aa;}
.page_psychology_detail .ct .bdsharebuttonbox a.bds_tsina{background-color:#e73048;}
.page_psychology_detail .sidebar{position:absolute;right:0;top:0;width:330px;}
.page_psychology_detail .sidebar .qrcode{box-shadow:0 0 8px rgba(9,2,4,0.06);padding:40px 0;background:#fff;}
.page_psychology_detail .sidebar .qrcode img{display:block;margin:0 auto;border:1px solid #090204;}
.page_psychology_detail .sidebar .qrcode b{margin-top:40px;line-height: 40px;font-size:18px;color:#000;display:block;font-weight: normal;text-align: center;}
.classes{padding-top:80px;}
.classes .class_list{padding-top:22px;margin:0 -20px;}
.classes .box_wrap{float:left;width:25%;}
.classes .box{margin:0 20px 55px;background:#fff;position: relative;padding-bottom:50px;border-radius: 4px;border-radius: 4px;box-shadow: 0 4px 0 0 #e5e6e6;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease;-webkit-backface-visibility: hidden;backface-visibility: hidden;}
.classes .box:hover{ -webkit-transform: translateY(-5px);-moz-transform: translateY(-5px);-o-transform: translateY(-5px);transform: translateY(-5px);}
.classes .box img{width:100%;display:block;border-radius:4px 4px 0 0;}
.classes .box b{display:block;margin:10px 10px 0;height:26px;text-overflow:ellipsis;overflow:hidden; white-space:nowrap;}
.classes .box b a{line-height: 26px;font-size:16px;color:#333;font-weight:normal;}
.classes .box b a:hover{color:#e8645a;}
.classes .box span{display:block;margin:0 10px;font-size:14px;color:#777;line-height:22px;}
.classes .box .btn{width:150px;height:38px;background: #7dc9c2;border-bottom:2px solid #68bcb3;color:#fff;line-height:38px;font-size:18px;text-align: center;position:absolute;left:50%;margin-left:-75px;bottom:-15px;border-radius:2px;transition:all .4s ease;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;}
.classes .box .btn:hover{background: #e8645a;border-color:#e2534b}

.page_online_detail{padding-bottom:80px;}
.page_online_detail .page_head{background:#FFF;padding:40px 0;box-shadow:0 0 8px rgba(9,2,4,0.06);}
.page_online_detail .page_head .share_box{overflow:hidden;position: absolute;top:0;right:0;}
.page_online_detail .page_head .bdsharebuttonbox{line-height:40px;text-align: center;}
.page_online_detail .page_head .bdsharebuttonbox span{display:inline-block;    vertical-align: middle;font-size:14px;color:#777;}
.page_online_detail .page_head .bdsharebuttonbox a{padding:0!important;margin:0 3px!important;width:40px!important;height:40px!important;display:inline-block!important;float:none!important;background-image:none!important;background-repeat: no-repeat!important;color: #ffffff !important;   vertical-align: middle;font-size:30px!important;line-height: 40px!important;text-align: center;border-radius:100%;}
.page_online_detail .page_head .bdsharebuttonbox a.bds_weixin{background-color:#5ca633;}
.page_online_detail .page_head .bdsharebuttonbox a.bds_qzone{background-color:#4a88c3;}
.page_online_detail .page_head .bdsharebuttonbox a.bds_douban{background-color:#00b3aa;}
.page_online_detail .page_head .bdsharebuttonbox a.bds_tsina{background-color:#e73048;}
.page_online_detail .page_head img{position:absolute;left:0;top:0;width:524px;}
.page_online_detail .page_head .main{min-height:288px;margin-left:550px;position: relative;}
.page_online_detail .page_head h1{line-height:30px;color:#333;font-size:28px;font-weight: normal;margin-bottom:15px;width:358px;}
.page_online_detail .page_head .score{height:24px;overflow:hidden;line-height: 24px;}
.page_online_detail .page_head .score span{float:left;display:inline;color:#777;font-size:14px;}
.page_online_detail .page_head .score .icon-star{margin-right:6px;color:#dcdcdc;font-size:22px;}
.page_online_detail .page_head .score .icon-star.active{color:#f0bf00;}
.page_online_detail .page_head .score .star_num{padding-left:10px;margin-right:8px;}
.page_online_detail .page_head .info{width:310px;margin-top:36px;}
.page_online_detail .page_head .info li{float:left;width:50%;height:30px;line-height:30px;font-size:16px;color:#333;}
.page_online_detail .page_head .info li a{font-size:16px;color:#333;text-decoration: underline;}
.page_online_detail .page_head .info li a:hover{color:#e2534b;}
.page_online_detail .page_head .btns{padding-top:60px;overflow:hidden;float:right;}
.page_online_detail .page_head .btn{float:left;height:54px;line-height: 54px;text-align: center;width:146px;overflow:hidden;margin-left:10px;background:#e4e4e4;border-bottom:4px solid #dddddd;font-size:18px;color:#333;}
.page_online_detail .page_head .btn b{display: block;line-height:30px;padding-top:4px;color:#f31b0f;font-size:26px;font-weight: normal;}
.page_online_detail .page_head .btn span{display: block;line-height: 18px;color:#444;font-size:16px;}
.page_online_detail .page_head .btn.btn_buy{background:#f3cc33;border-color:#f0bf00;margin-right:16px;}
.page_online_detail .ct{margin-top:25px;}
.page_online_detail .ct .main{box-shadow:0 0 8px rgba(9,2,4,0.06);background:#fff;margin-right:354px;padding:15px;min-height: 420px;}
.page_online_detail .ct .main .nav{height:53px;border-bottom:1px solid #dddddd;}
.page_online_detail .ct .main .nav a{float:left;margin-bottom:-1px;margin-right:25px;padding:0 12px;height:52px;line-height: 52px;font-size:20px;color:#333;border-bottom:2px solid transparent;display:inline;}
.page_online_detail .ct .main .nav a.current{border-color:#e2534b;}
.page_online_detail .ct .main .content{padding:40px 0;}
.page_online_detail .ct .main .post_main p{font-size:14px;color:#353535;line-height:25px;font-weight: 300;}
.page_online_detail .ct .main .post_main img{max-width: 100%;}
.page_online_detail .ct .main .post_main ul,.page_online_detail .ct .main .post_main ol{padding-left:24px;}
.page_online_detail .ct .main .post_main ul li{list-style: disc inside none;list-style-position:outside;margin-bottom:5px;text-indent:0;}
.page_online_detail .ct .main .post_main ol li{list-style: decimal inside none;list-style-position:outside;margin-bottom:5px;text-indent:0;}
.page_online_detail .ct .main .post_main ul ul li,.page_online_detail .ct .main .post_main ol ul li{list-style-type: circle;}
.page_online_detail .ct .main .post_main ul ul ul li,.page_online_detail .ct .main .post_main ol ul ul li,.page_psychology_detail .post_main ol ol ul li{list-style-type: square;}
.page_online_detail .ct .sidebar{width:300px;position:absolute;right:0;top:0;padding:15px 15px 30px;background:#fff;box-shadow:0 0 8px rgba(9,2,4,0.06);}
.page_online_detail .ct .teacher_summary .hd{height:30px;padding:15px 0 15px 80px;position: relative;margin:25px 0;}
.page_online_detail .ct .teacher_summary .hd img{position: absolute;left:0;top:0;height:60px;width:60px;border-radius: 100%;}
.page_online_detail .ct .teacher_summary .hd b{display:block;height:30px;line-height: 30px;font-size:20px;color:#333;transition:all .4s ease;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;}
.page_online_detail .ct .teacher_summary .hd a:hover b{color:#e2534b;}
.page_online_detail .ct .teacher_summary p{line-height: 26px;font-size:14px;color:#777;}

.page_online_detail .ct .main .schedule{padding:5px;}
.page_online_detail .ct .main .schedule table{text-align: center; width: 100%;border-collapse: collapse;border-spacing: 0;}
.page_online_detail .ct .main .schedule tbody td { height: 57px;color:#777;font-size:18px; }
.page_online_detail .ct .main .schedule tbody td.c_name{text-align: left;}
.page_online_detail .ct .main .schedule tbody td.c_time{width:130px;}
.page_online_detail .ct .main .schedule tbody td.c_btn{text-align: right;width:210px;}
.page_online_detail .ct .main .schedule tbody td.c_btn a{display: inline-block;height:24px;line-height: 24px;text-align: center;border-bottom:2px solid #68bcb3;background:#7dc9c2;color:#fff;width:98px;font-size:14px;border-radius:2px;}

.page_online_detail .ct .main .comment .in_box{border:1px solid #e4e4e4;border-radius:3px;box-shadow:inset 2px 2px 4px rgba(9,2,4,0.06);padding:5px;}
.page_online_detail .ct .main .comment .in_box textarea{display:block;outline:none;background: transparent;width: 100%;border:0 none;padding:0;margin:0;resize:none;line-height: 28px;font-size:14px;height:168px;}
.page_online_detail .ct .main .comment .in_ft{height:30px;overflow:hidden;position: relative;margin-top:18px;}
.page_online_detail .ct .main .comment .in_ft .set_score{float: left;height:30px;line-height: 30px;}
.page_online_detail .ct .main .comment .in_ft .set_score b{float:left;font-size:18px;color:#000;font-weight:normal;}
.page_online_detail .ct .main .comment .in_ft .set_score .stars{float:left;padding-left:10px;}
.page_online_detail .ct .main .comment .in_ft .set_score span{float:left;display:inline;color:#777;font-size:14px;}
.page_online_detail .ct .main .comment .in_ft .set_score .icon-star{margin-right:4px;color:#dcdcdc;font-size:22px;cursor:pointer;}
.page_online_detail .ct .main .comment .in_ft .set_score .icon-star.active{color:#f0bf00;}
.page_online_detail .ct .main .comment .in_ft .sub_comment{position:absolute;right:0;top:0;height:28px;line-height: 28px;text-align: center;border-bottom:2px solid #68bcb3;background:#7dc9c2;color:#fff;width:114px;font-size:14px;border-radius:2px;}
.page_online_detail .ct .main .comment .list{padding:40px 0;}
.page_online_detail .ct .main .comment .item{padding:20px 0 20px 60px;position:relative;}
.page_online_detail .ct .main .comment .item img{position: absolute;width:50px;height:50px;left:0;top:20px;border-radius: 100%;}
.page_online_detail .ct .main .comment .item b{display: block;line-height: 22px;color:#333;font-size:16px;font-weight: normal;}
.page_online_detail .ct .main .comment .item .stars{height:20px;}
.page_online_detail .ct .main .comment .item .stars span{float:left;margin-right:4px;display:inline;color:#dcdcdc;font-size:20px;}
.page_online_detail .ct .main .comment .item .stars span.active{color:#f0bf00;}
.page_online_detail .ct .main .comment .item .con{margin-top:5px;min-height:22px;}
.page_online_detail .ct .main .comment .item .con p{line-height:22px;color:#777777;font-size:14px;}
@media screen and (max-width: 1200px) {
    .page_database_detail{margin:50px 10px 175px;}
    .page_online_detail .page_head .share_box{display: none;}
}

@media screen and (max-width: 1080px) {
    .page_online_detail .page_head .btn{height:34px;line-height: 34px;width:90px;}
    .page_online_detail .page_head .btn b{line-height:18px;font-size:18px;padding-top:0;}
    .page_online_detail .page_head .btn span{line-height:16px;font-size:14px;}
    .page_online_detail .page_head .btn.btn_buy{margin-right:0;}

    .page_online_detail .ct .main .schedule tbody td.c_time{width:120px;}
    .page_online_detail .ct .main .schedule tbody td.c_btn{width:120px;}
}

@media screen and (max-width: 1000px) {
    .page_post_detail .main{padding:40px 128px;}
    .page_database_detail .ct .main{height:800px;}
}

@media screen and (max-width: 880px) {
    .page_online_detail .page_head img{width:424px;}
    .page_online_detail .page_head .main{margin-left:450px;min-height: 234px;}
    .page_online_detail .page_head .info{margin-top:26px;}
    .page_online_detail .page_head .btns{padding-top:38px;}
    .page_online_detail .page_head .btn{width:84px;}
    .page_online_detail .ct .main .nav a{margin-right:10px;padding:0 6px;}

    .page_online_detail .ct .main .schedule tbody td.c_time{width:100px;}
    .page_online_detail .ct .main .schedule tbody td.c_btn{width:100px;}


    .page_psychology_detail .ct{margin-right: 0;}
    .page_psychology_detail .sidebar{display: none;}


    .page_database_detail .ct{margin-right: 0;}
    .page_database_detail .sidebar{position: static;width: 100%;margin-top:30px;}
    .page_database_detail .ct .main{height:700px;}
}

@media screen and (max-width: 760px) {
    .page_post_detail .main{padding:30px 60px;}
    .page_post_detail{padding: 64px 0 80px;}

    .page_online_detail .page_head img{position: static;width:100%;}
    .page_online_detail .page_head .main{margin-left:0;margin-top:20px;}
    .page_online_detail .page_head .btns{float:left;}
    .page_online_detail .page_head .btn,.page_online_detail .page_head .btn.btn_buy{margin-left:0;margin-right:10px;}

    .page_online_detail .ct .main{margin-right:0;}
    .page_online_detail .ct .sidebar{position:static;margin-top: 20px;width:auto;}
    .classes .box_wrap{width:50%;}
    .page_online_detail .ct .main{min-height: 0;}

    .page_database_detail .ct .main{height:600px;}


}
@media screen and (max-width: 480px) {
    .page_post_detail .main{padding:20px 10px;}
    .page_post_detail{padding: 34px 0 50px;}
    .classes .box_wrap{width:100%;}
    .page_online_detail .ct .main .nav{height:41px;}
    .page_online_detail .ct .main .nav a{height:40px;line-height: 40px;font-size:14px;}

    .page_online_detail .ct .main .content{padding:10px 0;}
    .page_online_detail .ct .main .schedule tbody td{font-size:14px;}
    .page_online_detail .ct .main .schedule tbody td.c_btn{width:60px;}
    .page_online_detail .ct .main .schedule tbody td.c_btn a{color:#7dc9c2;background:none;font-size:14px;width:auto;border:0 none;}
    .page_online_detail .ct .main .schedule tbody td.c_time{width:70px;}

    .page_online_detail .ct .main .comment .in_ft .sub_comment{width:70px;}

    .page_database_detail .ct .main{height:500px;}

    .page_database_detail{margin:30px 10px 75px;}
}
