@charset "utf-8";

.ct{position:relative;margin-bottom:70px;min-height: 1350px;}
.search_res_ct{min-height: 980px;}


.main{margin-right:395px;}
.main .post_list li{margin-bottom:20px;position:relative;}
.main .post_list li a{display:block;background:#F5F5F5;padding:20px;position:relative;min-height: 160px;}
.main .post_list li .wd{margin-left:255px;}
.main .post_list li img{position:absolute;width:235px;left:20px;top:20px;}
.main .post_list li b{display:block;height:24px;line-height: 24px;padding:8px 0;font-size:20px;color:#343434;margin-bottom:2px;text-overflow:ellipsis;overflow:hidden; white-space:nowrap;transition:all .4s ease;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;}
.main .post_list li a:hover b{color:#3EBE9F;}
.main .post_list li p{line-height:20px;color:#787878;font-size:14px;height:60px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
.main .post_list li .view{position:absolute;height:20px;line-height: 20px;right:15px;bottom:15px;color:#7C7C7C;font-size:12px;}
.main .post_list li .view i{font-size:20px;float:left;}
.main .post_list li .view span{float:left;padding-left:5px;}
.main .post_list li .tags{position:absolute;bottom:15px;height:20px;line-height:20px;color:#787878;}
.main .post_list li .tags{left:275px;}
.main .post_list li .tags span{font-size:26px;float:left;}
.main .post_list li .tags a{margin-left:10px;font-size:14px;color:#787878;display:inline;padding:0;}
.main .post_list li .tags a:hover{color:#3EBE9F;}


.main .thumb_list li{margin-bottom:20px;}
.main .thumb_list li a{display:block;background:#F5F5F5;padding: 20px;}
.main .thumb_list li img{display:block;width:100%;}
.main .thumb_list li b{display:block;line-height:30px;padding:10px 0;font-size:20px;color:#343434;font-weight:normal;transition:all .4s ease;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;}
.main .thumb_list li a:hover b{color:#3EBE9F;}


.main .teacher_list li{margin-bottom:20px;position:relative;background:#F5F5F5;overflow:hidden;}
.main .teacher_list li a{display:block;background:#F5F5F5;padding: 20px;position:relative;min-height:160px;}
.main .teacher_list li img{display:block;width:110px;position:absolute;left:20px;top:20px;}
.main .teacher_list li .wd{margin-left:130px;}
.main .teacher_list li b{font-size:20px;color:#343434;font-weight: 600;line-height:30px;padding:5px 0;display:block;transition:all .4s ease;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;}
.main .teacher_list li span{line-height: 18px;font-size:12px;color:#797979;display:block;}
.main .teacher_list li p{line-height:20px;margin-top:10px;color:#4A4A4A;font-size:14px;overflow: hidden;height: 80px;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;}
.main .teacher_list li a:hover b{color:#3EBE9F;}
.main .teacher_list.list_with_btn li .wd{margin:0 148px 0 130px;}
.main .teacher_list.list_with_btn li .btn{border-radius:3px;padding:0;width:100px;height:40px;min-height:40px;line-height: 40px;text-align: center;color:#fff;font-size:18px;background:#3EBE9F;position:absolute;right:20px;top:50%;margin-top:-20px;}



.main .more_btn{margin-top:10px;border-top:1px solid #ECECEC;text-align: center;padding:10px 0;}
.main .more_btn a{display:inline-block;height:30px;line-height: 30px;color:#3EBE9F;font-size:14px;}
.main .more_btn a span{display: inline-block;margin-left:4px;}


.highlight{color:#3EBE9F}


@media screen and (max-width: 960px) {
    .main .post_list li img{position:static;width:auto;max-width: 100%;margin:0 auto 10px;}
    .main .post_list li .wd{margin:0;}
    .main .post_list li a{padding-bottom:50px;}

    .main .post_list li .tags{left:20px;}
}

@media screen and (max-width: 780px) {
    .main{margin:0;}
    .sidebar{position:static;width:auto;}
    .main .post_list li .tags span{font-size: 20px;}
    .main .post_list li .tags a{font-size:12px;}
}

@media screen and (max-width: 440px) {
    .main .thumb_list li b{line-height:25px;font-size:14px;}

    .main .teacher_list.list_with_btn li .wd{margin-right:0;}
    .main .teacher_list.list_with_btn li .btn{position: static;margin:0 auto 20px;}
}